<script setup>
    import { ref, inject } from 'vue';
    const Module = inject('module');
    const Filter = Module.instance('filter');
    const widgetTitle = 'Информация и новости';
    const active = ref(null);

    const setFilter = (value) => {
        Object.keys(value).length > 0
            ? Filter.all(value)
            : Filter.clear();

        active.value = Object.values(value)[0];
    }
</script>
<template>
    <component :is="Module.view('ui:head')">
        <component :is="Module.view('main.ui:widget.title')">
            <template #icon>
                <component :is="Module.view('icons:info')"></component>
            </template>
            {{widgetTitle}}
        </component>
        <component :is="Module.view('ui:head.filter')">
            <component
                v-if="Filter.state('isFiltered').value"
                :is="Module.view('ui:head.filter-item')"
                :value="{}"
                title="Все"
                code="clear"
                @set:filter="setFilter">
                <component :is="Module.view('icons:close')"></component>
            </component>
            <component
                v-for="(title, code) in Filter.get('fields:categories')"
                :is="Module.view('ui:head.filter-item')"
                :active
                :title
                :value="{category: code}"
                :code
                @set:filter="setFilter">
            </component>
        </component>
    </component>
</template>
