<script setup>
    import { inject } from 'vue';
    const Module = inject('module');
    const Controller = Module.instance('controller');
</script>
<template>
    <component :is="Module.view('ui:wrapper')">
        <component :is="Controller.view('main')"></component>
    </component>
</template>
