<script setup>
    import { inject } from 'vue';

    const Module = inject('module');
    const Slider = Module.slider('banners');
    const Section = Module.pageData().get('currentSection');

    const settings = {
        'slides-per-view': 1,
        'centeredSlides': false,
        'space-between': 20,
        'speed': 1000,
        'loop': true,
        'navigation': 'both',
        'slider-id': 'banner',
        'autoplay': true,
    }
    Slider.set('settings', settings);
</script>
<template>
    <component
        :is="Module.view('ui:wrapper')"
        :isMainPage="Section === '/'">
        <component :is="Module.view('ui:card-wrapper')">
            <component
                :is="Module.view('main.ui:content.card')"
                :background="Module.state('activeBannerColor').value"
                padding="none">
            </component>
        </component>
        <component :is="Module.view('ui:inner')">
            <component
                :is="Slider.view('main')"
                :slider="Slider">
            </component>
        </component>
    </component>
</template>
