<script setup>
    import { useMain } from '@/Modules/Main';
    const Main = useMain();
    const props = defineProps({button: String});

    const icon = props.button === 'contacts'
        ? 'phone'
        : props.button;
</script>
<template>
    <button class="block w-full h-full rounded-full border border-2"
        :class="Main.state(`${button}IsActive`).value ? 'text-red-700 border-neutral-300' : 'border-transparent'"
        @click="Main.setMobileActive(`${button}IsActive`)">
        <component :is="Main.view(`icons:${icon}`)" v-if="!Main.state(`${button}IsActive`).value"></component>
        <component :is="Main.view('icons:close')" v-else></component>
    </button>
</template>
