<script setup>
    const props = defineProps({ hide: String, isDivider: {type: Boolean, default: false} });

    const hiddens = {
        md: 'md:hidden',
        lg: 'lg:hidden',
        xl: 'xl:hidden'
    }
    const hideClass = hiddens[props.hide];
</script>
<template>
    <li class="
        ml-2
        flex items-center justify-center
        text-neutral-500
        h-full"
        :class="hideClass">
        <span class="
            w-7 h-7
            flex items-center justify-center"
            v-if="!isDivider">
            <slot></slot>
        </span>
        <slot v-else></slot>
    </li>
</template>
