.v-toast__item--success {
    @apply bg-green-500
}

.v-toast__item--info {
    @apply bg-blue-500
}

.v-toast__item--warning {
    @apply bg-orange-500
}

.v-toast__item--error {
    @apply bg-red-500
}

.v-toast__item--default {
    @apply bg-neutral-800
}

@keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.v-toast--fade-out {
    animation-name: fadeOut
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        transform: none
    }
}

.v-toast--fade-in-down {
    animation-name: fadeInDown
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        transform: none
    }
}

.v-toast--fade-in-up {
    animation-name: fadeInUp
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 150ms ease-out
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

.v-toast {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    font-size: 0.85rem;
    overflow: hidden;
    z-index: 1090;
    pointer-events: none
}

.v-toast__item {
    display: inline-flex;
    align-items: center;
    animation-duration: 150ms;
    margin: .5em 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    border-radius: 0.9rem;
    pointer-events: auto;
    opacity: .92;
    color: #fff;
    min-height: 4em;
    cursor: pointer
}

.v-toast__item.v-toast__item--top,
.v-toast__item.v-toast__item--bottom {
    align-self: center
}

.v-toast__item.v-toast__item--top-right,
.v-toast__item.v-toast__item--bottom-right {
    align-self: flex-end
}

.v-toast__item.v-toast__item--top-left,
.v-toast__item.v-toast__item--bottom-left {
    align-self: flex-start
}

.v-toast__text {
    margin: 0;
    padding: .5em 1em;
    word-break: break-word
}

.v-toast__icon {
    display: none
}

.v-toast.v-toast--top {
    flex-direction: column
}

.v-toast.v-toast--bottom {
    flex-direction: column-reverse
}

.v-toast.v-toast--custom-parent {
    position: absolute
}

@media screen and (max-width: 768px) {
    .v-toast {
        padding: 0;
        position: fixed !important
    }
}

.v-toast__item {
    opacity: 1;
    width: 300px;
    min-height: 4em
}

.v-toast__item .v-toast__text {
    padding: 1em
}

.v-toast__item .v-toast__icon {
    display: block;
    width: 27px;
    min-width: 27px;
    height: 27px;
    color: #ffffff;
    margin-left: 1em;
    background: url("data:image/svg+xml,%3Csvg%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%20width%3D%2228%22%20%20height%3D%2228%22%20%20viewBox%3D%220%200%2024%2024%22%20%20fill%3D%22none%22%20%20stroke%3D%22%23ffffff%22%20%20stroke-width%3D%222%22%20%20stroke-linecap%3D%22round%22%20%20stroke-linejoin%3D%22round%22%3E%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M12%2012m-9%200a9%209%200%201%200%2018%200a9%209%200%201%200%20-18%200%22%20%2F%3E%3Cpath%20d%3D%22M8%2012l0%20.01%22%20%2F%3E%3Cpath%20d%3D%22M12%2012l0%20.01%22%20%2F%3E%3Cpath%20d%3D%22M16%2012l0%20.01%22%20%2F%3E%3C%2Fsvg%3E") no-repeat
}

[dir=rtl] .v-toast__item .v-toast__icon {
    margin-left: unset;
    margin-right: 1em
}

.v-toast__item.v-toast__item--success .v-toast__icon {
    background: url("data:image/svg+xml,%3Csvg%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%2024%2024%22%20%20fill%3D%22none%22%20stroke%3D%22%23ffffff%22%20%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M12%2012m-9%200a9%209%200%201%200%2018%200a9%209%200%201%200%20-18%200%22%20%2F%3E%3Cpath%20d%3D%22M9%2012l2%202l4%20-4%22%20%2F%3E%3C%2Fsvg%3E") no-repeat
}

.v-toast__item.v-toast__item--error .v-toast__icon {
    background: url("data:image/svg+xml,%3Csvg%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%2024%2024%22%20%20fill%3D%22none%22%20stroke%3D%22%23ffffff%22%20%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M12%209v4%22%20%2F%3E%3Cpath%20d%3D%22M10.363%203.591l-8.106%2013.534a1.914%201.914%200%200%200%201.636%202.871h16.214a1.914%201.914%200%200%200%201.636%20-2.87l-8.106%20-13.536a1.914%201.914%200%200%200%20-3.274%200z%22%20%2F%3E%3Cpath%20d%3D%22M12%2016h.01%22%20%2F%3E%3C%2Fsvg%3E") no-repeat
}

.v-toast__item.v-toast__item--warning .v-toast__icon {
    background: url("data:image/svg+xml,%3Csvg%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%20width%3D%2228%22%20%20height%3D%2228%22%20%20viewBox%3D%220%200%2024%2024%22%20%20fill%3D%22none%22%20%20stroke%3D%22%23ffffff%22%20%20stroke-width%3D%222%22%20%20stroke-linecap%3D%22round%22%20%20stroke-linejoin%3D%22round%22%3E%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M12%2012m-9%200a9%209%200%201%200%2018%200a9%209%200%201%200%20-18%200%22%20%2F%3E%3Cpath%20d%3D%22M12%209v4%22%20%2F%3E%3Cpath%20d%3D%22M12%2016v.01%22%20%2F%3E%3C%2Fsvg%3E") no-repeat
}

.v-toast__item.v-toast__item--info .v-toast__icon {
    background: url("data:image/svg+xml,%3Csvg%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%20width%3D%2228%22%20%20height%3D%2228%22%20%20viewBox%3D%220%200%2024%2024%22%20%20fill%3D%22none%22%20%20stroke%3D%22%23fff%22%20%20stroke-width%3D%222%22%20%20stroke-linecap%3D%22round%22%20%20stroke-linejoin%3D%22round%22%3E%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M3%2012a9%209%200%201%200%2018%200a9%209%200%200%200%20-18%200%22%20%2F%3E%3Cpath%20d%3D%22M12%209h.01%22%20%2F%3E%3Cpath%20d%3D%22M11%2012h1v4h1%22%20%2F%3E%3C%2Fsvg%3E") no-repeat
}
