<script setup>
    defineProps({hasIcon: {type: Boolean, default: true}});
</script>
<template>
    <div class="relative py-3 flex justify-center">
        <div class="
            absolute z-10 left-0 right-0
            top-1/2 -translate-y-[1px]
            border">
        </div>
        <div class="
            relative z-20
            size-8 p-1
            text-neutral-500
            rounded-full
            border bg-white"
            v-if="hasIcon">
            <slot></slot>
        </div>
        <div class="relative z-20"
            v-else>
            <slot></slot>
        </div>
    </div>
</template>
