<script setup>
    import { computed } from 'vue';

    const props = defineProps({
        padding: {
            type: String,
            default: 'md'
        },
        border: {
            type: String,
            default: 'transparent'
        },
        shadow: {
            type: String,
            default: 'default'
        },
        background: {
            type: String,
            default: 'white'
        },
        type: {
            type: String,
            default: 'default'
        }
    });

    const paddings = {
        none: 'p-0',
        xs: 'py-1 px-2',
        sm: 'p-2',
        md: 'p-4',
        lg: 'p-6'
    }

    const types = {
        default: 'border',
        info: 'border-l-3 mb-4'
    }

    const borders = {
        transparent: 'border-transparent',
        white: 'border-white',
        primary: 'border-primary',
        info: 'border-blue-400',
        warning: 'border-orange-400',
        danger: 'border-red-400',
        success: 'border-green-400',
        default: 'border-neutral-300',

        violet: 'border-violet-400',
        'violet-dark': 'border-violet-700',
        'violet-light': 'border-violet-200',
        'amber-dark': 'border-amber-800',
    }

    const shadows = {
        visible: 'shadow-lg shadow-gray-300',
        hover: 'hover:shadow-lg shadow-gray-300',
        default: ''
    }

    const backgrounds = {
        white: 'bg-white',
        primary: 'bg-primary',
        info: 'bg-blue-500',
        warning: 'bg-orange-600',
        danger: 'bg-red-600',
        success: 'bg-green-600',
        default: 'bg-slate-500',
        'success-light': 'bg-green-100',
        'default-light': 'bg-slate-200',

        lime: 'bg-lime-600',
        amber: 'bg-amber-600',
        emerald: 'bg-emerald-500',
        fuchsia: 'bg-fuchsia-400',
        indigo: 'bg-indigo-400',
        violet: 'bg-violet-400',
        'violet-dark': 'bg-violet-400',
        'violet-mdark': 'bg-violet-500',
        'violet-light': 'bg-violet-200',
        'violet-xlight': 'bg-violet-100',
        yellow: 'bg-yellow-500',
    }

    const paddingClass = paddings[props.padding];
    const borderClass = borders[props.border];
    const shadowClass = computed(() => shadows[props.shadow]);
    const bgClass = computed(() => backgrounds[props.background]);
    const typeClass = types[props.type];
</script>
<template>
    <div class="
        group/card
        w-full h-full rounded-2xl
        transition-colors duration-700"
        :class="[
            paddingClass,
            borderClass,
            shadowClass,
            bgClass,
            typeClass
        ]">
        <slot></slot>
    </div>
</template>
