<script setup>
    import { ref, onMounted, useSlots } from 'vue';
    defineProps({
        image: String,
        default: null
    });

    const mounted = ref(false);
    onMounted(() => {
        setTimeout(() => {
            mounted.value = true;
        }, 100);
    });
</script>
<template>
    <div class="
        flex flex-col 2xl:flex-row items-stretch justify-stretch
        rounded-2xl pl-1">
        <div class="
            w-full
            2xl:w-auto 2xl:min-w-60 2xl:max-w-72
            h-80
            2xl:h-auto 2xl:min-h-60 2xl:max-h-72

            flex items-center justify-center
            overflow-hidden
            rounded-2xl"
            v-if="image">
            <div class="
                w-full h-full
                rounded-2xl
                overflow-hidden">
                <Transition
                    enter-active-class="ease-out duration-700"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-700"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
                    <img class="
                        w-full h-full object-cover"
                        v-if="mounted"
                        :src="image">
                </Transition>
            </div>
        </div>
        <div class="
            p-6 xl:p-10
            flex flex-col items-start
            text-base xl:text-lg 2xl:text-sm 3xl:text-lg text-neutral-700
            overflow-hidden">
            <div class="">
                <slot name="title"></slot>
            </div>
            <Transition
                enter-active-class="ease-out duration-500"
                enter-from-class="opacity-0 translate-x-1/2"
                enter-to-class="opacity-100 translate-x-0"
                leave-active-class="ease-in duration-200"
                leave-from-class="opacity-100 translate-x-0"
                leave-to-class="opacity-0 translate-x-1/2">
                <div class="w-full"
                    v-show="mounted">
                    <slot></slot>
                </div>
            </Transition>
        </div>
    </div>
</template>
