<script setup>
    import { inject } from 'vue';
    const props = defineProps({item: Object});
    const Module = inject('module');
</script>
<template>
    <component
        :is="Module.view('ui:item')"
        :item>
        <template #card>
            <component
                :is="Module.view('main.ui:content.card')"
                color="white">
            </component>
        </template>
    </component>
</template>
