<script setup>
    import { inject } from 'vue';
    const Module = inject('module');
</script>
<template>
    <component :is="Module.view('main.ui:content.block-title')">
        Преимущества работы с нами
    </component>
    <component :is="Module.view('ui:wrapper')">
        <component
            v-for="item in Module.get('data:items')"
            :is="Module.view('item')"
            :item>
        </component>
    </component>
</template>
