<script setup>
    import { inject } from 'vue';
    const Module = inject('module');
</script>
<template>
    <component :is="Module.view('ui:wrapper')">
        <component
            :is="Module.view('ui:item')"
            v-if="Module.get('data:support_phone.active')"
            size="md">
            <template #icon>
                <component :is="Module.view('icons:phone')"></component>
            </template>
            <a :href="Module.get('data:support_phone.href')">
                {{Module.get('data:support_phone.text')}}
            </a>
        </component>
        <component
            :is="Module.view('ui:item')"
            v-if="Module.get('data:email.active')"
            size="sm">
            <template #icon>
                <component :is="Module.view('icons:email')"></component>
            </template>
            <a :href="Module.get('data:email.href')">
                {{Module.get('data:email.text')}}
            </a>
        </component>
    </component>
</template>
