<script setup>
    const props = defineProps({
        strCount: {
            type: Number,
            default: 3
        }
    });
</script>
<template>
    <span class="
        block relative overflow-hidden
        rounded-full last-of-type:w-9/12
        leading-none text-xs mt-1 mb-2
        bg-gradient-to-r
        from-violet-300 via-white/50 to-violet-300
        bg-loader animate-loader
        uppercase"
        v-for="x in strCount">
        &nbsp;
    </span>
</template>
