<script setup>
    import { Link } from '@inertiajs/vue3';
    const props = defineProps({
        color: String,
        href: String,
    });
    const colors = {
        info: 'bg-blue-500 text-blue-500',
        warning: 'bg-orange-500 text-orange-500',
        danger: 'bg-red-500 text-red-500',
        clear: 'bg-neutral-400 text-white',

        lime: 'bg-lime-600 text-lime-600',
        amber: 'bg-amber-600 text-amber-600',
        emerald: 'bg-emerald-500 text-emerald-500',
        fuchsia: 'bg-fuchsia-400 text-fuchsia-400',
        indigo: 'bg-indigo-400 text-indigo-400',
        violet: 'bg-violet-400 text-violet-400',
        yellow: 'bg-yellow-500 text-violet-500',
    }
    const colorClass = colors[props.color];
</script>
<template>
    <Link class="
        flex items-center
        rounded-full cursor-pointer
        ring-2 ring-offset-1
        ring-transparent
        hover:ring-current
        transition-all duration-500
        px-3 py-1"
        :class="colorClass"
        :href>
        <span class="text-white text-xs">
            <slot></slot>
        </span>
    </Link>
</template>
