<script setup>
    import { ref } from 'vue';
    import { useClipboard } from '@vueuse/core';
    import { IconClipboard, IconClipboardCheck} from '@tabler/icons-vue';

    const props = defineProps({content: String});
    const content = ref(props.content);
    const { copy, copied, isSupported } = useClipboard({content});
</script>
<template>
    <button class="group flex items-center gap-1"
        type="button"
        @click="copy(content)"
        v-if="isSupported">
        <div class="
            size-5
            transition-colors duration-300"
            :class="copied ? 'text-green-500' : 'text-primary'">
            <IconClipboardCheck v-if="copied"></IconClipboardCheck>
            <IconClipboard v-else></IconClipboard>
        </div>
        <span class="
            uppercase text-xs
            transition-colors duration-300"
            :class="copied ? 'text-green-500  group-hover:text-green-500' : 'text-neutral-500 group-hover:text-primary'">Копировать</span>
     </button>
</template>
