<script setup>
    import { IconFileDownload } from '@tabler/icons-vue';
    defineProps({link: String});
</script>
<template>
    <a class="group flex items-center gap-1"
        :href="link" download>
        <div class="size-6 text-primary">
            <IconFileDownload></IconFileDownload>
        </div>
        <div class="
            text-neutral-500 uppercase
            group-hover:text-primary text-xs
            transition-colors duration-300">
            Скачать
        </div>
    </a>
</template>
