<script setup>
    import { useSlots } from 'vue';
    import { Link } from '@inertiajs/vue3';
    defineProps({href: String});
    const hasIcon = useSlots().icon;
    const hasIconAfter = useSlots().iconAfter;
</script>
<template>
    <Link :href>
        <span class="
            flex gap-2
            items-center justify-center text-neutral-500 hover:text-primary"
            v-if="hasIcon || hasIconAfter">
            <slot name="icon"></slot>
            <span>
                <slot></slot>
            </span>
            <slot name="iconAfter"></slot>
        </span>
        <span class="text-neutral-500 hover:text-primary"
            v-else>
            <slot></slot>
        </span>
    </Link>
</template>
