<template>
    <div class="
        w-full h-full
        pointer-events-none opacity-70
        flex items-center justify-center">
        <div class="size-9">
            <svg class="loading-spinner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
              <polyline class="loading-spinner__line" points="24,12 24,4" transform="rotate(  0, 24, 24)" />
              <polyline class="loading-spinner__line" points="24,12 24,4" transform="rotate( 30, 24, 24)" />
              <polyline class="loading-spinner__line" points="24,12 24,4" transform="rotate( 60, 24, 24)" />
              <polyline class="loading-spinner__line" points="24,12 24,4" transform="rotate( 90, 24, 24)" />
              <polyline class="loading-spinner__line" points="24,12 24,4" transform="rotate(120, 24, 24)" />
              <polyline class="loading-spinner__line" points="24,12 24,4" transform="rotate(150, 24, 24)" />
              <polyline class="loading-spinner__line" points="24,12 24,4" transform="rotate(180, 24, 24)" />
              <polyline class="loading-spinner__line" points="24,12 24,4" transform="rotate(210, 24, 24)" />
              <polyline class="loading-spinner__line" points="24,12 24,4" transform="rotate(240, 24, 24)" />
              <polyline class="loading-spinner__line" points="24,12 24,4" transform="rotate(270, 24, 24)" />
              <polyline class="loading-spinner__line" points="24,12 24,4" transform="rotate(300, 24, 24)" />
              <polyline class="loading-spinner__line" points="24,12 24,4" transform="rotate(330, 24, 24)" />
            </svg>
        </div>
    </div>
</template>
<style scoped>
    .loading-spinner {
      animation: spin12 0.75s steps(12, end) infinite;
    }

    @keyframes spin12 {
      to {
        transform: rotate(360deg);
      }
    }

    .loading-spinner__line {
      stroke: #333;
      stroke-width: 4;
      stroke-linecap: round;
    }

    .loading-spinner__line:nth-child(12n+0) { stroke-opacity: 0.08; }
    .loading-spinner__line:nth-child(12n+1) { stroke-opacity: 0.17; }
    .loading-spinner__line:nth-child(12n+2) { stroke-opacity: 0.25; }
    .loading-spinner__line:nth-child(12n+3) { stroke-opacity: 0.33; }
    .loading-spinner__line:nth-child(12n+4) { stroke-opacity: 0.42; }
    .loading-spinner__line:nth-child(12n+5) { stroke-opacity: 0.5; }
    .loading-spinner__line:nth-child(12n+6) { stroke-opacity: 0.58; }
    .loading-spinner__line:nth-child(12n+7) { stroke-opacity: 0.66; }
    .loading-spinner__line:nth-child(12n+8) { stroke-opacity: 0.75; }
    .loading-spinner__line:nth-child(12n+9) { stroke-opacity: 0.83; }
    .loading-spinner__line:nth-child(12n+11) { stroke-opacity: 0.92; }

</style>
