<script setup>
    import _ from 'lodash';
    import { ref, computed, onMounted, onUnmounted, watch } from 'vue';
    import { IconX } from '@tabler/icons-vue';
    import Overlay from '@/Modules/Main/Ui/Base/Overlay.vue';

    const props = defineProps({
        maxWidth: {
            type: String,
            default: '2xl',
        },
        closeable: {
            type: Boolean,
            default: true,
        },
        icon: {
            type: Function,
            default: null
        },
        head: {
            type: String,
            default: null
        },
        color: {
            type: String,
            default: 'default'
        }
    });

    const show = ref(false);
    const teleport = ref(false);
    const emit = defineEmits(['open', 'close']);

    watch(
        () => props.show,
        () => {
            if (props.show) {
                document.body.style.overflow = 'hidden';
            } else {
                document.body.style.overflow = null;
            }
        }
    );

    const open = () => {
        teleport.value = true;
        setTimeout(() => {
            show.value = true;
            emit('open');
        }, 10);
    }

    const close = () => {
        show.value = false;
        if (props.closeable) {
            emit('close');
        }
        setTimeout(() => {
            teleport.value = false;
        }, 210);
    };

    const closeOnEscape = (e) => {
        if (e.key === 'Escape' && props.show) {
            close();
        }
    };

    onMounted(() => {
        document.addEventListener('keydown', closeOnEscape)
    });

    onUnmounted(() => {
        document.removeEventListener('keydown', closeOnEscape);
        document.body.style.overflow = null;
    });

    const maxWidthClass = computed(() => {
        return {
            sm: 'sm:max-w-sm',
            md: 'sm:max-w-md',
            lg: 'sm:max-w-lg',
            xl: 'sm:max-w-xl',
            '2xl': 'sm:max-w-2xl',
            '1/2': 'sm:max-w-[50vw]',
            'full': 'sm:max-w-full'
        }[props.maxWidth];
    });

    const iconColors = {
        info: 'text-blue-500',
        warning: 'text-orange-500',
        danger: 'text-red-500',
        success: 'text-green-500',
        default: 'text-black'
    }
    const borders = {
        info: 'border-l-3 border-blue-500',
        warning: 'border-l-3 border-orange-500',
        danger: 'border-l-3 border-red-500',
        success: 'border-l-3  border-green-500',
        default: ''
    }

    const iconClass = iconColors[props.color];
    const borderClass = borders[props.color];
</script>

<template>
    <div @click="open">
        <slot name="trigger"></slot>
    </div>
    <Teleport to="body" v-if="teleport">
        <Transition leave-active-class="duration-200">
            <div class="
                fixed z-50 inset-0
                flex items-center justify-center
                overflow-y-auto
                px-4 py-6"
                scroll-region
                v-show="show">

                <Overlay
                    :close="close"
                    zIndex="bottom"></Overlay>

                <!-- <Transition
                    enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
                    <div class="fixed inset-0 transform transition-all backdrop-blur bg-black/"
                        v-show="show"
                        @click="close">
                    </div>
                </Transition> -->

                <Transition
                    enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0 translate-y-8 sm:translate-y-0 sm:scale-90"
                    enter-to-class="opacity-100 translate-y-0 sm:scale-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100 translate-y-0 sm:scale-100"
                    leave-to-class="opacity-0 translate-y-8 sm:translate-y-0 sm:scale-90">
                    <div class="
                        rounded-2xl p-4 mb-6
                        sm:w-full sm:mx-auto
                        overflow-hidden shadow-lg
                        transform transition-all
                        bg-white"
                        :class="[
                            maxWidthClass,
                            borderClass
                        ]"
                        v-show="show">
                        <div class="modal-head"
                            v-if="!_.isEmpty(head)">
                            <h2 class="
                                flex items-start
                                pb-4 mb-4
                                text-neutral-500 border-b">
                                <div :class="iconClass">
                                    <div class="size-14">
                                        <component class="mr-4"
                                            :is="props.icon">
                                        </component>
                                    </div>
                                </div>
                                <span class="font-semibold text-black text-md">{{ head }}</span>
                                <button class="
                                    ml-auto opacity-50
                                    hover:opacity-100 hover:rotate-90
                                    transition-all duration-300"
                                    @click="close">
                                    <IconX size="28" sttroke-width="2"/>
                                </button>
                            </h2>
                        </div>
                        <div class="modal-body
                            min-h-40 max-h-96
                            overflow-y-auto
                            scroll scroll-sm scroll-primary
                            overscroll-contain
                            pr-4 pb-4 box-border text-neutral-700">
                            <slot></slot>
                        </div>
                        <div class="modal-foot
                            pt-4
                            flex items-center
                            border-t">
                            <slot name="foot"></slot>
                        </div>
                    </div>
                </Transition>
            </div>
        </Transition>
    </Teleport>
</template>
