<script setup>
    import { ref, onMounted } from 'vue';
    const emit = defineEmits(['mounted']);
    defineProps({
        show: Boolean,
        close: Function,
        zIndex: {
            type: String,
            default: 'top'
        },
        color: {
            type: String,
            default: 'dark'
        },
        duration: {
            type: String,
            default: 'medium'
        }
    });

    const colors = {
        dark: 'bg-black/70',
        lignt: 'bg-white/70'
    }
    const zIndexes = {
        top: 'z-50',
        bottom: 'z-0'
    }
    const durationsIn = {
        fast: 'ease-out duration-300',
        medium: 'ease-out duration-500',
        slow: 'ease-out duration-1000'
    }

    const durationsOut = {
        fast: 'ease-in duration-300',
        medium: 'ease-in duration-500',
        slow: 'ease-in duration-1000'
    }

    const vShow = ref(false);
    onMounted(() => {
        setTimeout(() => {
            emit('mounted', true);
            vShow.value = true;
        }, 10);
    });
</script>
<template>
    <Transition
        :enter-active-class="durationsIn[duration]"
        enter-from-class="opacity-0"
        enter-to-class="opacity-100"

        :leave-active-class="durationsOut[duration]"
        leave-from-class="opacity-100"
        leave-to-class="opacity-0"
        >
        <div class="
            fixed inset-0
            backdrop-blur"
            :class="[zIndexes[zIndex],colors[color]]"
            v-show="vShow"
            @click="close">
        </div>
    </Transition>
</template>
