<script setup>
    import { useLogo } from '@/Modules/Main/Ui/Logo/useLogo.js';
    const props = defineProps({
        theme: {
            type: String,
            default: 'color'
        },
        size: {
            type: String,
            default: 'md'
        },
        logoIsHover: {
            type: Boolean,
            default: false
        }
    });
    const { fill, size, isHover, filter } = useLogo(props);
</script>
<template>
    <svg class="w-auto relative z-50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 440 120" style="enable-background:new 0 0 440 120;" xml:space="preserve"
         :class="[size, filter]">

        <path :fill="fill.st0" d="M40.3,30.3c-2.3,7.3-8.2,12.9-15.5,15.1v37.3h84.5V30.3H40.3z"/>
        <path :fill="fill.st1" d="M75.9,103.9v-3.5H57.7v3.5c0,3-2.4,5.4-5.4,5.4H32v4.8h71.3v-4.8h-22C78.3,109.3,75.9,106.9,75.9,103.9z"/>
        <path :fill="fill.st1" d="M113.4,12.5H38.8c1.5,2.9,2.4,6.1,2.6,9.5h72c2.3,0,4.2,1.9,4.2,4.2v60.4c0,2.3-1.9,4.2-4.2,4.2H20.7
            c-2.3,0-4.2-1.9-4.2-4.2V46.2C13,45.9,9.8,44.9,7,43.3v43.3c0,7.6,6.1,13.7,13.7,13.7h92.7c7.6,0,13.7-6.1,13.7-13.7V26.2
            C127.1,18.7,120.9,12.5,113.4,12.5z"/>

        <path :fill="fill.st0" d="M35.5,26.8v-7.3L32,18.9c-0.3-0.8-0.6-1.6-1-2.4l2-3l-5.1-5.1l-3,2c-0.8-0.4-1.5-0.7-2.4-1l-0.7-3.5h-7.3
                L14,9.4c-0.8,0.3-1.6,0.6-2.4,1l-3-2l-5.1,5.1l2,3c-0.4,0.8-0.7,1.5-1,2.4L1,19.6v7.3l3.5,0.7c0.3,0.8,0.6,1.6,1,2.4l-2,3
                L8.6,38l3-2c0.8,0.4,1.5,0.7,2.4,1l0.7,3.5h7.3l0.7-3.5c0.8-0.3,1.6-0.6,2.4-1l3,2l5.1-5.1l-2-3c0.4-0.8,0.7-1.5,1-2.4
                L35.5,26.8z M18.3,31.8c-4.7,0-8.6-3.9-8.6-8.6c0-4.7,3.9-8.6,8.6-8.6c4.7,0,8.6,3.9,8.6,8.6C26.9,27.9,23,31.8,18.3,31.8z">

                <animateTransform
                    v-if="isHover"
                    attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 18.25 23.2"
                    to="360 18.25 23.2"
                    dur="1.5s"
                    additive="sum"
                    repeatCount="indefinite" />
        </path>

        <polygon :fill="fill.st2" points="55.4,73.1 39.1,56.9 56.2,39.8 59.8,43.5 46.4,56.9 59,69.4"/>
        <polygon :fill="fill.st2" points="78.7,73.1 75,69.4 87.6,56.9 74.2,43.5 77.9,39.8 94.9,56.9"/>

        <rect :fill="fill.st0" x="136.1" y="30.3" width="55" height="55"/>
        <rect :fill="fill.st0" x="198.1" y="30.3" width="55" height="55"/>
        <rect :fill="fill.st1" x="260" y="30.3" width="55" height="55"/>
        <rect :fill="fill.st1" x="322" y="30.3" width="55" height="55"/>
        <rect :fill="fill.st1" x="384" y="30.3" width="55" height="55"/>

        <path :fill="fill.st2" d="M152,70.3h31.1v5.2h-36.3v-7.8c0-5.5,4.6-10.4,10.4-10.4h15.5c2.8,0,5.2-2.3,5.2-5.2v-2.6
            c0-2.9-2.3-5.2-5.2-5.2h-15.5c-2.8,0-5.2,2.3-5.2,5.2h-5.2c0-5.5,4.6-10.4,10.4-10.4h15.5c5.4,0,10.4,4.6,10.4,10.4v2.6
            c0,5.5-4.6,10.4-10.4,10.4h-15.5c-2.8,0-5.2,2.3-5.2,5.2V70.3z"/>
        <path :fill="fill.st2" d="M207.4,65.1l25.9-25.9h5.2v25.9h5.2v5.2h-5.2v5.2h-5.2v-5.2h-25.9V65.1z M233.3,46.5l-18.6,18.6h18.6V46.5z"/>
        <path :fill="fill.st2" d="M306.3,65.1c0,5.5-4.6,10.4-10.4,10.4h-25.9V39.2h31.1v5.2h-25.9V53H296c5.5,0,10.2,4.6,10.4,10.4V65.1z
             M301.2,63.4c0-2.8-2.3-5.2-5.2-5.2h-20.7v12.1H296c2.9,0,5.2-2.3,5.2-5.2V63.4z"/>
        <path :fill="fill.st2" d="M331.4,39.2h5.2V68l25.9-28.8h5.2v36.3h-5.2V46.2l-25.9,29.3h-5.2V39.2z"/>
        <path :fill="fill.st2" d="M414.1,44.4v31.1h-5.2V44.4h-15.5v-5.2h36.3v5.2H414.1z"/>
        <path :fill="fill.st1" d="M146.8,98.9c2.3,0,4.2,1.9,4.3,4.3h-2.1c0-1.2-1-2.1-2.1-2.1h-6.4c-1.2,0-2.1,1-2.1,2.1v6.4
            c0,1.2,1,2.1,2.1,2.1h6.4c1.2,0,2.1-1,2.1-2.1h2.1c0,2.3-1.9,4.3-4.3,4.3h-6.4c-2.3,0-4.3-1.9-4.3-4.3v-6.4
            c0-2.3,1.9-4.2,4.3-4.3H146.8z"/>
        <path :fill="fill.st1" d="M163.2,101.1v12.8H161v-12.8h-6.4v-2.1h14.9v2.1H163.2z"/>
        <path :fill="fill.st1" d="M184.5,111.7c1.2,0,2.1-1,2.1-2.1v-2.1h-8.5c-2.3,0-4.3-1.9-4.3-4.3v-4.3h2.1v4.3c0,1.2,1,2.1,2.1,2.1h8.5
            v-6.4h2.1v10.7c0,2.3-1.9,4.3-4.3,4.3h-6c-2.3,0-4.2-1.9-4.3-4.3h2.1c0,1.2,1,2.1,2.1,2.1H184.5z"/>
        <path :fill="fill.st1" d="M193.3,111.7h2.1v-8.5c0-2.3,1.9-4.3,4.3-4.3h10.7v12.8h2.1v2.1h-19.2V111.7z M197.5,111.7h10.7v-10.7h-8.5
            c-1.2,0-2.1,1-2.1,2.1V111.7z"/>
        <path :fill="fill.st1" d="M217.6,98.9h2.1v11.8l10.7-11.8h2.1v14.9h-2.1v-12.1l-10.7,12.1h-2.1V98.9z"/>
        <path :fill="fill.st1" d="M239.6,113.9h-1.5v-1.5l3-3c-1.7-0.6-3-2.2-3-4.1v-2.1c0-2.3,1.9-4.3,4.3-4.3H253v14.9h-2.1v-4.3h-7
            L239.6,113.9z M240.2,105.3c0,1.2,1,2.1,2.1,2.1h8.5v-6.4h-8.5c-1.2,0-2.1,1-2.1,2.1V105.3z"/>
    </svg>
    <span class="hidden h-10 lg:h-10 xl:h-12 h-4 h-24"></span>
</template>
