<template>
    <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 440 120" style="enable-background:new 0 0 440 120;" xml:space="preserve">
        <!-- <style type="text/css">
            .st0{fill:#249250;}
            .st1{fill:#606466;}
            .st2{fill:#FF8314;}
            .st3{fill:#FFFFFF;}
            .st4{fill:#F3574B;}
        </style> -->

        <path class="st0" d="M40.3,34.7c-2.3,7.3-8.2,12.9-15.5,15.1V87h84.5V34.7H40.3z"/>
        <path class="st1" d="M75.9,108.3v-3.5H57.7v3.5c0,3-2.4,5.4-5.4,5.4H32v4.8h71.3v-4.8h-22C78.3,113.7,75.9,111.3,75.9,108.3z"/>
        <path class="st1" d="M113.4,16.9H38.8c1.5,2.9,2.4,6.1,2.6,9.5h72c2.3,0,4.2,1.9,4.2,4.2v60.4c0,2.3-1.9,4.2-4.2,4.2H20.7
            c-2.3,0-4.2-1.9-4.2-4.2V50.6C13,50.3,9.8,49.3,7,47.7v43.3c0,7.6,6.1,13.7,13.7,13.7h92.7c7.6,0,13.7-6.1,13.7-13.7V30.6
            C127.1,23.1,120.9,16.9,113.4,16.9z"/>

        <path class="st2" d="M35.5,31.2v-7.3L32,23.3c-0.3-0.8-0.6-1.6-1-2.4l2-3l-5.1-5.1l-3,2c-0.8-0.4-1.5-0.7-2.4-1l-0.7-3.5h-7.3
            L14,13.8c-0.8,0.3-1.6,0.6-2.4,1l-3-2l-5.1,5.1l2,3c-0.4,0.8-0.7,1.5-1,2.4L1,23.9v7.3l3.5,0.7c0.3,0.8,0.6,1.6,1,2.4l-2,3
            l5.1,5.1l3-2c0.8,0.4,1.5,0.7,2.4,1l0.7,3.5h7.3l0.7-3.5c0.8-0.3,1.6-0.6,2.4-1l3,2l5.1-5.1l-2-3c0.4-0.8,0.7-1.5,1-2.4
            L35.5,31.2z M18.3,36.2c-4.7,0-8.6-3.9-8.6-8.6c0-4.7,3.9-8.6,8.6-8.6c4.7,0,8.6,3.9,8.6,8.6C26.9,32.3,23,36.2,18.3,36.2z"/>

        <rect x="136.1" y="34.7" class="st2" width="55" height="55"/>

        <rect x="198.1" y="34.7" class="st2" width="55" height="55"/>
        <rect x="260" y="34.7" class="st1" width="55" height="55"/>
        <rect x="322" y="34.7" class="st1" width="55" height="55"/>
        <rect x="384" y="34.7" class="st1" width="55" height="55"/>

        <path class="st3" d="M152,74.7h31.1v5.2h-36.3v-7.8c0-5.5,4.6-10.4,10.4-10.4h15.5c2.8,0,5.2-2.3,5.2-5.2V54
            c0-2.9-2.3-5.2-5.2-5.2h-15.5c-2.8,0-5.2,2.3-5.2,5.2h-5.2c0-5.5,4.6-10.4,10.4-10.4h15.5c5.4,0,10.4,4.6,10.4,10.4v2.6
            c0,5.5-4.6,10.4-10.4,10.4h-15.5c-2.8,0-5.2,2.3-5.2,5.2V74.7z"/>
        <path class="st3" d="M207.4,69.5l25.9-25.9h5.2v25.9h5.2v5.2h-5.2v5.2h-5.2v-5.2h-25.9V69.5z M233.3,50.9l-18.6,18.6h18.6V50.9
            z"/>
        <path class="st3" d="M306.3,69.5c0,5.5-4.6,10.4-10.4,10.4h-25.9V43.6h31.1v5.2h-25.9v8.7H296c5.5,0,10.2,4.6,10.4,10.4V69.5z
             M301.2,67.8c0-2.8-2.3-5.2-5.2-5.2h-20.7v12.1H296c2.9,0,5.2-2.3,5.2-5.2V67.8z"/>
        <path class="st3" d="M331.4,43.6h5.2v28.8l25.9-28.8h5.2v36.3h-5.2V50.6l-25.9,29.3h-5.2V43.6z"/>
        <path class="st3" d="M414.1,48.8v31.1h-5.2V48.8h-15.5v-5.2h36.3v5.2H414.1z"/>

        <path class="st1" d="M146.8,103.3c2.3,0,4.2,1.9,4.3,4.3h-2.1c0-1.2-1-2.1-2.1-2.1h-6.4c-1.2,0-2.1,1-2.1,2.1v6.4
            c0,1.2,1,2.1,2.1,2.1h6.4c1.2,0,2.1-1,2.1-2.1h2.1c0,2.3-1.9,4.3-4.3,4.3h-6.4c-2.3,0-4.3-1.9-4.3-4.3v-6.4
            c0-2.3,1.9-4.2,4.3-4.3H146.8z"/>
        <path class="st1" d="M163.2,105.5v12.8H161v-12.8h-6.4v-2.1h14.9v2.1H163.2z"/>
        <path class="st1" d="M184.5,116.1c1.2,0,2.1-1,2.1-2.1v-2.1h-8.5c-2.3,0-4.3-1.9-4.3-4.3v-4.3h2.1v4.3c0,1.2,1,2.1,2.1,2.1h8.5
            v-6.4h2.1V114c0,2.3-1.9,4.3-4.3,4.3h-6c-2.3,0-4.2-1.9-4.3-4.3h2.1c0,1.2,1,2.1,2.1,2.1H184.5z"/>
        <path class="st1" d="M193.3,116.1h2.1v-8.5c0-2.3,1.9-4.3,4.3-4.3h10.7v12.8h2.1v2.1h-19.2V116.1z M197.5,116.1h10.7v-10.7
            h-8.5c-1.2,0-2.1,1-2.1,2.1V116.1z"/>
        <path class="st1" d="M217.6,103.3h2.1v11.8l10.7-11.8h2.1v14.9h-2.1v-12.1l-10.7,12.1h-2.1V103.3z"/>
        <path class="st1" d="M239.6,118.3h-1.5v-1.5l3-3c-1.7-0.6-3-2.2-3-4.1v-2.1c0-2.3,1.9-4.3,4.3-4.3H253v14.9h-2.1V114h-7
            L239.6,118.3z M240.2,109.7c0,1.2,1,2.1,2.1,2.1h8.5v-6.4h-8.5c-1.2,0-2.1,1-2.1,2.1V109.7z"/>

        <g id="XMLID_3_">
            <path class="st3" d="M150.7,37.3c0.6,0.1,0.9-0.2,1-0.8c-0.1-0.3-0.2-0.5-0.4-0.7c-0.2-0.2-0.1-0.5,0.2-0.6
                c1-0.2,0.8-1.2,0.1-1.7c-0.2-0.1-0.2-0.3-0.1-0.4c0-0.1,0-0.2,0.2-0.3c1.3-0.5-0.1-2-0.8-2.4c-0.2-0.1-0.3-0.3-0.2-0.5
                c0.6-0.9-0.4-1.5-1.2-1.4c-0.2,0-0.4-0.1-0.4-0.3c0-0.1-0.1-0.1-0.1-0.2c0-1.3-1.6-1.6-2.4-0.9c-0.2,0.2-0.5,0.1-0.6-0.2
                c-0.3-0.3-0.5-0.5-0.8-0.8c-0.4-0.1-0.8,0.1-1,0.5c0,0.4-0.5,0.4-0.6,0.2c0,0,0,0,0,0c-0.7-0.3-1.5-0.1-1.6,0.8
                c0,0.2-0.2,0.4-0.5,0.3c-0.3-0.1-0.6-0.2-0.9-0.3c-0.4-0.1-1,0.5-0.9,0.9c0,0,0,0.1,0,0.1c0,0,0,0,0,0.1c0,0,0,0,0.1,0.1
                c0.1,0.1,0.1,0.2,0.1,0.3c0.1,0.2,0,0.6-0.3,0.5c-0.5,0-1.2-0.1-1.5,0.4c-0.2,0.3-0.3,1,0.2,1.1c0.4,0.1,0.3,0.5,0,0.6
                c0,0.1,0,0.1-0.1,0.2c-0.2,0.2-0.5,0.2-0.7,0.4c-0.7,0.5,0.1,1.4,0.5,1.7c0.2,0.1,0.2,0.4,0,0.6c-0.6,0.5-0.3,1.4,0.4,1.5
                c0.2,0,0.3,0.1,0.3,0.3c0.1,0.2,0.1,0.5-0.2,0.6c-0.5,0.1,0.7,1.5,1.2,1.3c0.2-0.1,0.5,0.2,0.4,0.5c-0.2,0.4,0,0.7,0.4,0.9
                c0.3,0.1,0.7-0.2,0.9-0.3c0.2-0.1,0.3,0,0.4,0.1c0.2,0,0.3,0.1,0.3,0.3c-0.1,1.1,1.5,1,2.1,0.4c0.2-0.2,0.6-0.2,0.6,0.1
                c0.3,0.9,1.3,0.7,1.3-0.2c0-0.2,0.2-0.3,0.3-0.3c0.2-0.2,0.7-0.1,0.6,0.2c0,0.3,1.5-0.2,1.6-0.7c0.1-0.3,0.3-0.4,0.6-0.3
                c0.2,0.1,0.4,0.2,0.7,0.1c0.5-0.1,0.3-0.8,0.2-1.1c0-0.1,0-0.2,0-0.3C150.2,37.5,150.4,37.2,150.7,37.3z"/>
            <path class="st3" d="M119.7,39.9c-0.4-1-1.9-1.7-2.9-1c0,0-0.1,0-0.1,0.1c-0.1,0.1-0.3,0.1-0.4-0.1c-0.6-0.8-1.4-1.5-2.4-0.8
                c-0.2,0.1-0.5,0-0.5-0.2c0-0.5-1.9-2.2-2.3-1.5c0,0.1-0.1,0.1-0.2,0.1c-0.2,0.1-0.5,0.1-0.5-0.2c-0.2-1.2-1.6-1.5-2.6-1.5
                c-0.2,0-0.3-0.2-0.3-0.4c0.1-1-1-1.5-1.8-1.3c-0.1,0-0.2,0-0.3-0.1c-0.1,0-0.2-0.1-0.2-0.3c-0.1-0.9-1.2-1.3-2-1.3
                c-0.2,0-0.3-0.2-0.3-0.4c0-0.6,0-1-0.5-1.3c-0.4-0.3-0.8-0.2-1.2-0.4c-0.1-0.1-0.2-0.2-0.2-0.4c0,0,0,0,0,0
                c0-0.8-0.9-1.8-1.7-1.5c-0.2,0.1-0.4-0.2-0.4-0.4c0-1.1-0.7-1.4-1.6-1.8c-0.1,0-0.1-0.1-0.1-0.1c-0.1-0.1-0.2-0.2-0.1-0.3
                c0-0.6,0.1-1.1-0.3-1.5c-0.4-0.4-0.9-0.7-1.4-0.9c-0.2-0.1-0.3-0.3-0.2-0.4c0.1-0.6,0.1-1.1-0.4-1.5c-0.1-0.1-0.3-0.2-0.4-0.3
                c-0.1-0.1-0.2-0.2-0.2-0.4c0.2-0.8,1-2.5-0.3-2.8c-0.3-0.1-0.3-0.5,0-0.6c0.2-0.1,1-0.8,0.8-1.1c0,0,0,0,0,0c0,0,0,0,0,0
                c-0.2-0.2-0.8-0.2-0.8,0.2c0,0.1,0,0.3-0.1,0.4c-0.1,0.2-0.3,0.3-0.6,0.4c-0.3,0-0.5,0-0.8-0.1c-0.7,0-0.7,1.1-0.7,1.5
                c0,0.1,0,0.2-0.1,0.2c0,0.1-0.1,0.3-0.3,0.2c-0.4-0.1-0.9-0.3-1.2,0.2c-0.2,0.3-0.1,0.8,0.1,1.1c0.1,0.3-0.1,0.6-0.4,0.5
                c-0.6-0.2-1.5,0.8-0.9,1.3c0.1,0.1,0.1,0.1,0.1,0.2c0.4,0.2,0,0.8-0.4,0.6c-0.8-0.5-0.8,1.2-0.6,1.6c0.2,0.3-0.2,0.6-0.5,0.5
                c0,0.1-0.1,0.1-0.2,0.2c-0.7,0.4-0.1,1,0.2,1.2c0.1,0.1,0.2,0.3,0.1,0.5c-0.3,0.4-0.6,0.6-0.4,1.2c0.2,0.5,0.6,0.8,0.9,1.2
                c0.2,0.2,0.1,0.4,0,0.5c0,0,0,0,0,0.1c-0.8,0.9,0.2,1.7,0.9,2.1c0.2,0.1,0.2,0.3,0.1,0.5c-0.4,0.7,0.8,1.3,1.3,1.6
                c0.1,0.1,0.2,0.2,0.2,0.3c0.1,0.1,0.2,0.3,0,0.5c-1,0.7,0.5,1.5,1.1,1.6c0.3,0,0.4,0.4,0.2,0.6c-0.2,0.3,0.2,0.8,0.4,0.9
                c0.2,0.3,0.6,0.3,1,0.4c0.1,0,0.2,0.1,0.2,0.2c0.1,0.1,0.2,0.2,0.2,0.3c0,0.8,0.3,1.5,1.2,1.6c0.2,0,0.3,0.1,0.5,0.2
                c0.3,0.2,0.4,0.8,0.6,1.1c0.4,0.6,1.1,0.8,1.8,0.9c0.2,0,0.3,0.2,0.3,0.3c0,0.1,0.1,0.1,0.1,0.2c-0.1,1,1,0.9,1.7,1
                c0.2,0,0.3,0.2,0.3,0.4c0,1.1,1.1,1.5,2,1.5c0.1,0,0.2,0.1,0.3,0.2c0.2,0,0.4,0.3,0.3,0.5c-0.5,0.8,2.4,1.3,2.8,1.3
                c0.1,0,0.3,0.1,0.3,0.3c0.2,1.1,1.7,1.2,2.6,0.9c0.1,0,0.1,0,0.2,0c0.2,0,0.4,0.1,0.4,0.4c0,0.9,1.8,0.7,2.3,0.5
                c0.2-0.1,0.4,0.1,0.4,0.3c0.4,1.4,1.9,0.4,2.6,0.1c0.2-0.1,0.3,0,0.4,0.1c0.1,0.1,0.2,0.2,0.1,0.4c-0.3,1,1.8,0.3,2.1,0.1
                c0.2-0.1,0.4,0,0.5,0.2c0.7,1.1,2,0.6,2.9,0.2c0,0,0.1,0,0.1,0c0.1-0.1,0.3-0.1,0.4,0.1c0.6,0.8,1.9,0.3,2.4-0.3
                c0.1-0.2,0.4-0.2,0.6,0c0.5,0.6,1.4-0.4,1.4-0.9c0-0.1,0-0.2,0.1-0.2c0-0.3,0.3-0.6,0.5-0.4c1,0.7,1.8-0.5,2-1.3
                c0.1-0.2,0.3-0.3,0.5-0.2c0.8,0.5,1.4-0.5,1.8-1.1c0,0,0,0,0-0.1c0-0.1,0-0.3,0.2-0.4c0.7-0.5,1.8-1.2,1.2-2.2
                c-0.1-0.2,0.1-0.5,0.3-0.5c1,0.1,1-1,0.7-1.6c-0.1-0.1,0-0.3,0-0.3c0-0.1,0.1-0.3,0.3-0.3c1.3-0.2,1.2-1.4,0.6-2.2
                c-0.2-0.2-0.1-0.5,0.2-0.6c0.9-0.3,0.7-1.2,0.1-1.7c-0.1,0-0.1,0-0.2-0.1c-0.5-0.4-0.6,0.4-0.5,0.7c0.2,0.4-0.5,0.7-0.6,0.3
                c-0.2-0.5-0.6,0.1-0.8,0.4c-0.3,0.4-0.3,1-0.3,1.5c0,0.1-0.1,0.2-0.2,0.3c-0.1,0.1-0.3,0.2-0.4,0.1c-0.8-0.6-1.2,0.7-1.2,1.3
                c0,0.4-0.5,0.4-0.7,0.1c-0.5-1-2-0.5-2.4,0.4c-0.1,0.3-0.6,0.3-0.7,0c-0.1-0.1-0.1-0.2-0.1-0.3c0-0.6-1.7-0.8-1.8-0.3
                c0,0.2-0.2,0.3-0.3,0.3c-0.2,0.1-0.5,0.1-0.5-0.2c-0.1-0.8-2.2-1.9-2.6-0.9C120.2,40.1,119.8,40.2,119.7,39.9z"/>

            <path class="st4" d="M139.2,27.6c0.4-0.8,1.3-0.7,2-0.5c0.3-0.7,1-1.1,1.8-1.1c-1.1-2.2-2-4.4-2.5-6.8c-0.6-2.7-1-5.5-1.9-8.1
                c-2-5.7-6.6-8.7-12.6-8.8c-2.8-0.1-5.7,0.5-8.5,1c-3,0.5-6.1,1.3-9,2.3c-5.3,1.9-9.7,5.2-13.6,9.2c0.3,0.5-0.1,1.2-0.6,1.6
                c0.3,0.2,0.5,0.6,0.6,1c0.2,0.8-0.1,1.4-0.3,2.2c0.4,0.4,0.8,0.6,1,1.1c0.1,0.3,0.1,0.7,0,1.1c0.7,0.2,1.2,0.7,1.6,1.2
                c0.4,0.4,0.3,1.1,0.3,1.6c1,0.4,1.8,0.9,1.9,2c1.1,0,2.1,1.1,2.2,2.1c0.2,0.1,0.5,0.1,0.8,0.2c0.3,0.1,0.5,0.3,0.7,0.5
                c0.4,0.3,0.4,0.8,0.4,1.3c1,0.1,2,0.6,2.3,1.6c1.1-0.2,2.3,0.6,2.4,1.7c1.1,0.1,2.4,0.5,2.8,1.5c0.9-0.4,2.6,0.7,3.1,1.7
                c1.1-0.5,2,0.1,2.7,1c1.1-0.6,2.8-0.1,3.5,0.9c0.9-0.7,2.7-0.2,3.4,0.8c0.7-0.6,2.1-0.4,2.6,0.4c0.3-0.3,0.6-0.5,1.1-0.6
                c0.6-0.1,1.2-0.1,1.7,0.3c0.3-0.8,0.9-1.7,1.7-1.4c0.1-0.8,0.3-1.4,0.9-2c0.3-0.2,0.6-0.3,0.8-0.3c0.1-0.3,0.2-0.6,0.4-0.8
                c0.1-0.7,0.1-1.4,0-2.1c-0.1-0.8-0.7-1.2-1.3-1.5c-0.3,0-0.5-0.4-0.3-0.6c0.6-0.7,1.5-0.9,1.9-1.8c0.5-1.1,0.3-2.9-0.5-3.8
                c-0.2-0.2-0.1-0.4,0-0.5c0-0.2,0.1-0.3,0.4-0.3c0.5,0,0.9-0.1,1.3-0.3c0.3-0.2,0.5-0.3,0.7-0.6c-0.5-0.3-0.9-0.7-1.5-1
                c-2-1.2-3.8-3-5.1-5c-1.7-2.5-3.3-4.8-5.2-7.1c-2.2-2.6-5.2-3.6-8.5-3.7c-0.5,0-0.4-0.7,0-0.7c2.6,0.1,5.3,0.8,7.5,2.4
                c2,1.6,3.7,4.1,5.2,6.2c2.1,3,3.9,5.7,7.1,7.7C136.5,24,137.9,25.6,139.2,27.6C139.1,27.7,139.1,27.6,139.2,27.6z"/>

            <path class="st1" d="M116.6,38.9c-0.1,0.1-0.3,0.1-0.4-0.1c-0.6-0.8-1.4-1.5-2.4-0.8c-0.2,0.1-0.5,0-0.5-0.2
                c0-0.5-1.9-2.2-2.3-1.5c0,0.1-0.1,0.1-0.2,0.1c-0.2,0.1-0.5,0.1-0.5-0.2c-0.2-1.2-1.6-1.5-2.6-1.5c-0.2,0-0.3-0.2-0.3-0.4
                c0.1-1-1-1.5-1.8-1.3c-0.1,0-0.2,0-0.3-0.1c-0.1,0-0.2-0.1-0.2-0.3c-0.1-0.9-1.2-1.3-2-1.3c-0.2,0-0.3-0.2-0.3-0.4
                c0-0.6,0-1-0.5-1.3c-0.4-0.3-0.8-0.2-1.2-0.4c-0.1-0.1-0.2-0.2-0.2-0.4c0,0,0,0,0,0c0-0.8-0.9-1.8-1.7-1.5
                c-0.2,0.1-0.4-0.2-0.4-0.4c0-1.1-0.7-1.4-1.6-1.8c-0.1,0-0.1-0.1-0.1-0.1c-0.1-0.1-0.2-0.2-0.1-0.3c0-0.6,0.1-1.1-0.3-1.5
                c-0.4-0.4-0.9-0.7-1.4-0.9c-0.2-0.1-0.3-0.3-0.2-0.4c0.1-0.6,0.1-1.1-0.4-1.5c-0.1-0.1-0.3-0.2-0.4-0.3
                c-0.1-0.1-0.2-0.2-0.2-0.4c0.2-0.8,1-2.5-0.3-2.8c-0.3-0.1-0.3-0.5,0-0.6c0.2-0.1,1-0.8,0.8-1.1c0,0,0,0,0,0c0,0,0,0,0,0
                c-0.2-0.2-0.8-0.2-0.8,0.2c0,0.1,0,0.3-0.1,0.4c-0.1,0.2-0.3,0.3-0.6,0.4c-0.3,0-0.5,0-0.8-0.1c-0.7,0-0.7,1.1-0.7,1.5
                c0,0.1,0,0.2-0.1,0.2c0,0.1-0.1,0.3-0.3,0.2c-0.4-0.1-0.9-0.3-1.2,0.2c-0.2,0.3-0.1,0.8,0.1,1.1c0.1,0.3-0.1,0.6-0.4,0.5
                c-0.6-0.2-1.5,0.8-0.9,1.3c0.1,0.1,0.1,0.1,0.1,0.2c0.4,0.2,0,0.8-0.4,0.6c-0.8-0.5-0.8,1.2-0.6,1.6c0.2,0.3-0.2,0.6-0.5,0.5
                c0,0.1-0.1,0.1-0.2,0.2c-0.7,0.4-0.1,1,0.2,1.2c0.1,0.1,0.2,0.3,0.1,0.5c-0.3,0.4-0.6,0.6-0.4,1.2c0.2,0.5,0.6,0.8,0.9,1.2
                c0.2,0.2,0.1,0.4,0,0.5c0,0,0,0,0,0.1c-0.8,0.9,0.2,1.7,0.9,2.1c0.2,0.1,0.2,0.3,0.1,0.5c-0.4,0.7,0.8,1.3,1.3,1.6
                c0.1,0.1,0.2,0.2,0.2,0.3c0.1,0.1,0.2,0.3,0,0.5c-1,0.7,0.5,1.5,1.1,1.6c0.3,0,0.4,0.4,0.2,0.6c-0.2,0.3,0.2,0.8,0.4,0.9
                c0.2,0.3,0.6,0.3,1,0.4c0.1,0,0.2,0.1,0.2,0.2c0.1,0.1,0.2,0.2,0.2,0.3c0,0.8,0.3,1.5,1.2,1.6c0.2,0,0.3,0.1,0.5,0.2
                c0.3,0.2,0.4,0.8,0.6,1.1c0.4,0.6,1.1,0.8,1.8,0.9c0.2,0,0.3,0.2,0.3,0.3c0,0.1,0.1,0.1,0.1,0.2c-0.1,1,1,0.9,1.7,1
                c0.2,0,0.3,0.2,0.3,0.4c0,1.1,1.1,1.5,2,1.5c0.1,0,0.2,0.1,0.3,0.2c0.2,0,0.4,0.3,0.3,0.5c-0.5,0.8,2.4,1.3,2.8,1.3
                c0.1,0,0.3,0.1,0.3,0.3c0.2,1.1,1.7,1.2,2.6,0.9c0.1,0,0.1,0,0.2,0c0.2,0,0.4,0.1,0.4,0.4c0,0.9,1.8,0.7,2.3,0.5
                c0.2-0.1,0.4,0.1,0.4,0.3c0.4,1.4,1.9,0.4,2.6,0.1c0.2-0.1,0.3,0,0.4,0.1c0.1,0.1,0.2,0.2,0.1,0.4c-0.3,1,1.8,0.3,2.1,0.1
                c0.2-0.1,0.4,0,0.5,0.2c0.7,1.1,2,0.6,2.9,0.2c0,0,0.1,0,0.1,0c0.1-0.1,0.3-0.1,0.4,0.1c0.6,0.8,1.9,0.3,2.4-0.3
                c0.1-0.2,0.4-0.2,0.6,0c0.5,0.6,1.4-0.4,1.4-0.9c0-0.1,0-0.2,0.1-0.2c0-0.3,0.3-0.6,0.5-0.4c1,0.7,1.8-0.5,2-1.3
                c0.1-0.2,0.3-0.3,0.5-0.2c0.8,0.5,1.4-0.5,1.8-1.1c0,0,0,0,0-0.1c0-0.1,0-0.3,0.2-0.4c0.7-0.5,1.8-1.2,1.2-2.2
                c-0.1-0.2,0.1-0.5,0.3-0.5c1,0.1,1-1,0.7-1.6c-0.1-0.1,0-0.3,0-0.3c0-0.1,0.1-0.3,0.3-0.3c1.3-0.2,1.2-1.4,0.6-2.2
                c-0.2-0.2-0.1-0.5,0.2-0.6c0.9-0.3,0.7-1.2,0.1-1.7c-0.1,0-0.1,0-0.2-0.1c-0.5-0.4-0.6,0.4-0.5,0.7c0.2,0.4-0.5,0.7-0.6,0.3
                c-0.2-0.5-0.6,0.1-0.8,0.4c-0.3,0.4-0.3,1-0.3,1.5c0,0.1-0.1,0.2-0.2,0.3c-0.1,0.1-0.3,0.2-0.4,0.1c-0.8-0.6-1.2,0.7-1.2,1.3
                c0,0.4-0.5,0.4-0.7,0.1c-0.5-1-2-0.5-2.4,0.4c-0.1,0.3-0.6,0.3-0.7,0c-0.1-0.1-0.1-0.2-0.1-0.3c0-0.6-1.7-0.8-1.8-0.3
                c0,0.2-0.2,0.3-0.3,0.3c-0.2,0.1-0.5,0.1-0.5-0.2c-0.1-0.8-2.2-1.9-2.6-0.9c-0.1,0.3-0.5,0.4-0.7,0c-0.4-1-1.9-1.7-2.9-1
                C116.7,38.9,116.7,38.9,116.6,38.9z M140.5,19.2c-0.6-2.7-1-5.5-1.9-8.1c-2-5.7-6.6-8.7-12.6-8.8c-2.8-0.1-5.7,0.5-8.5,1
                c-3,0.5-6.1,1.3-9,2.3c-5.3,1.9-9.7,5.2-13.6,9.2c0.3,0.5-0.1,1.2-0.6,1.6c0.3,0.2,0.5,0.6,0.6,1c0.2,0.8-0.1,1.4-0.3,2.2
                c0.4,0.4,0.8,0.6,1,1.1c0.1,0.3,0.1,0.7,0,1.1c0.7,0.2,1.2,0.7,1.6,1.2c0.4,0.4,0.3,1.1,0.3,1.6c1,0.4,1.8,0.9,1.9,2
                c1.1,0,2.1,1.1,2.2,2.1c0.2,0.1,0.5,0.1,0.8,0.2c0.3,0.1,0.5,0.3,0.7,0.5c0.4,0.3,0.4,0.8,0.4,1.3c1,0.1,2,0.6,2.3,1.6
                c1.1-0.2,2.3,0.6,2.4,1.7c1.1,0.1,2.4,0.5,2.8,1.5c0.9-0.4,2.6,0.7,3.1,1.7c1.1-0.5,2,0.1,2.7,1c1.1-0.6,2.8-0.1,3.5,0.9
                c0.9-0.7,2.7-0.2,3.4,0.8c0.7-0.6,2.1-0.4,2.6,0.4c0.3-0.3,0.6-0.5,1.1-0.6c0.6-0.1,1.2-0.1,1.7,0.3c0.3-0.8,0.9-1.7,1.7-1.4
                c0.1-0.8,0.3-1.4,0.9-2c0.3-0.2,0.6-0.3,0.8-0.3c0.1-0.3,0.2-0.6,0.4-0.8c0.1-0.7,0.1-1.4,0-2.1c-0.1-0.8-0.7-1.2-1.3-1.5
                c-0.3,0-0.5-0.4-0.3-0.6c0.6-0.7,1.5-0.9,1.9-1.8c0.5-1.1,0.3-2.9-0.5-3.8c-0.2-0.2-0.1-0.4,0-0.5c0-0.2,0.1-0.3,0.4-0.3
                c0.5,0,0.9-0.1,1.3-0.3c0.3-0.2,0.5-0.3,0.7-0.6c-0.5-0.3-0.9-0.7-1.5-1c-2-1.2-3.8-3-5.1-5c-1.7-2.5-3.3-4.8-5.2-7.1
                c-2.2-2.6-5.2-3.6-8.5-3.7c-0.5,0-0.4-0.7,0-0.7c2.6,0.1,5.3,0.8,7.5,2.4c2,1.6,3.7,4.1,5.2,6.2c2.1,3,3.9,5.7,7.1,7.7
                c2.2,1.4,3.6,3,4.8,5.1c0,0,0-0.1,0-0.1c0.4-0.8,1.3-0.7,2-0.5c0.3-0.7,1-1.1,1.8-1.1C141.9,23.8,141,21.6,140.5,19.2z
                 M151.6,33.6c-0.2-0.1-0.2-0.3-0.1-0.4c0-0.1,0-0.2,0.2-0.3c1.3-0.5-0.1-2-0.8-2.4c-0.2-0.1-0.3-0.3-0.2-0.5
                c0.6-0.9-0.4-1.5-1.2-1.4c-0.2,0-0.4-0.1-0.4-0.3c0-0.1-0.1-0.1-0.1-0.2c0-1.3-1.6-1.6-2.4-0.9c-0.2,0.2-0.5,0.1-0.6-0.2
                c-0.3-0.3-0.5-0.5-0.8-0.8c-0.4-0.1-0.8,0.1-1,0.5c0,0.4-0.5,0.4-0.6,0.2c0,0,0,0,0,0c-0.7-0.3-1.5-0.1-1.6,0.8
                c0,0.2-0.2,0.4-0.5,0.3c-0.3-0.1-0.6-0.2-0.9-0.3c-0.4-0.1-1,0.5-0.9,0.9c0,0,0,0.1,0,0.1c0,0,0,0,0,0.1c0,0,0,0,0.1,0.1
                c0.1,0.1,0.1,0.2,0.1,0.3c0.1,0.2,0,0.6-0.3,0.5c-0.5,0-1.2-0.1-1.5,0.4c-0.2,0.3-0.3,1,0.2,1.1c0.4,0.1,0.3,0.5,0,0.6
                c0,0.1,0,0.1-0.1,0.2c-0.2,0.2-0.5,0.2-0.7,0.4c-0.7,0.5,0.1,1.4,0.5,1.7c0.2,0.1,0.2,0.4,0,0.6c-0.6,0.5-0.3,1.4,0.4,1.5
                c0.2,0,0.3,0.1,0.3,0.3c0.1,0.2,0.1,0.5-0.2,0.6c-0.5,0.1,0.7,1.5,1.2,1.3c0.2-0.1,0.5,0.2,0.4,0.5c-0.2,0.4,0,0.7,0.4,0.9
                c0.3,0.1,0.7-0.2,0.9-0.3c0.2-0.1,0.3,0,0.4,0.1c0.2,0,0.3,0.1,0.3,0.3c-0.1,1.1,1.5,1,2.1,0.4c0.2-0.2,0.6-0.2,0.6,0.1
                c0.3,0.9,1.3,0.7,1.3-0.2c0-0.2,0.2-0.3,0.3-0.3c0.2-0.2,0.7-0.1,0.6,0.2c0,0.3,1.5-0.2,1.6-0.7c0.1-0.3,0.3-0.4,0.6-0.3
                c0.2,0.1,0.4,0.2,0.7,0.1c0.5-0.1,0.3-0.8,0.2-1.1c0-0.1,0-0.2,0-0.3c0-0.2,0.2-0.5,0.4-0.4c0.6,0.1,0.9-0.2,1-0.8
                c-0.1-0.3-0.2-0.5-0.4-0.7c-0.2-0.2-0.1-0.5,0.2-0.6C152.6,35,152.4,34.1,151.6,33.6z M153,34.9c0,0.5-0.4,0.7-0.8,0.9
                c0.3,0.5,0.4,1,0.1,1.5c-0.3,0.4-0.8,0.7-1.3,0.8c0.1,0.5,0.1,1.1-0.4,1.5c-0.4,0.3-0.9,0.3-1.3,0.2c-0.3,0.5-0.9,0.8-1.5,1
                c-0.3,0.1-0.7,0.1-1-0.1c-0.4,1-1.8,1.1-2.4,0.2c-1,0.7-2.8,0.5-2.9-0.8c-0.5,0.3-1,0.3-1.5,0c-0.4-0.2-0.6-0.7-0.6-1.1
                c-1-0.2-2.1-1.6-1.6-2.3c-0.9-0.4-1.3-1.5-0.6-2.2c-0.4-0.3-0.6-0.7-0.7-1.3c0-0.4,0.1-0.7,0.2-1.1c0.2-0.3,0.5-0.4,0.8-0.5
                c-0.4-0.4-0.4-1.1-0.2-1.6c0.2-0.8,0.9-1,1.6-1.1c0,0,0-0.1,0-0.1c-1-1.8-2.1-3.2-3.5-4.4c-0.2,0.3-0.4,0.5-0.7,0.7
                c-0.4,0.2-0.9,0.4-1.3,0.5c0.6,0.9,0.7,2.2,0.6,3.3c-0.2,1.5-1,1.8-1.9,2.6c0.6,0.3,1,0.6,1.3,1.3c0.4,0.8,0.2,1.8,0.1,2.6
                c0.1,0,0.3,0.1,0.4,0.2c0.1,0,0.1,0,0.2,0.1c1.1,0.7,1.2,2.2,0.2,2.8c0.3,0.4,0.6,0.9,0.4,1.5c-0.2,0.7-0.7,1.3-1.4,1.5
                c0.3,1,0,2.1-1,2.3c0.2,1.1-0.7,1.9-1.6,2.6c0,0.1,0,0.2,0,0.2c-0.5,0.9-1.3,1.8-2.3,1.5c-0.4,1-1.5,1.9-2.5,1.5
                c-0.2,1-1.4,1.9-2.3,1.4c-0.8,0.7-2.2,1.1-3.1,0.3c-1.2,0.6-2.7,0.8-3.6-0.3c-0.9,0.3-2.7,0.5-2.8-0.5c-0.6,0.3-1,0.5-1.8,0.4
                c-0.6-0.1-1-0.4-1.2-0.9c-1,0.2-2.5,0.1-2.8-0.9c-1.2,0.3-2.8,0-3.2-1.2c-1.2-0.1-3.6-0.7-3.2-2.1c-1.2-0.1-2.4-0.7-2.6-1.9
                c-1-0.1-2-0.4-2-1.5c-1.3-0.2-2.2-0.9-2.6-2.2c0-0.1-1.1-0.3-1.2-0.5c-0.4-0.5-0.6-1.1-0.6-1.7c-0.6-0.2-1.1-0.4-1.5-1
                c-0.2-0.3-0.4-0.7-0.3-1.1c-0.6-0.1-1-0.4-1.4-0.9c-0.3-0.5-0.3-1.1,0-1.6c-0.8-0.5-1.7-1.2-1.4-2.1c-1.1-0.7-1.7-1.8-0.9-2.9
                c-0.4-0.4-0.8-0.8-0.9-1.4c-0.2-0.6,0-0.9,0.3-1.3c-0.7-0.7-0.8-1.7,0.1-2.2c0.1,0,0.1,0,0.2,0c-0.3-0.9,0.1-2.1,0.8-2.3
                c-0.3-0.9,0.4-1.9,1.3-2.1c-0.1-0.4-0.1-0.9,0.1-1.3c0.3-0.7,0.9-0.7,1.5-0.6c0.1-1.1,0.5-2.1,1.9-1.9c0.4,0.1,0.2-0.3,0.3-0.5
                c0.1-0.3,0.3-0.4,0.6-0.6c0.3-0.2,0.8-0.1,1.1,0.1c4.2-4.2,8.8-7.5,14.4-9.5c5.5-2,12-3.3,17.8-3.2c5.2,0.1,9.4,2.8,11.8,7.3
                c1.1,2.1,1.7,4.5,2.2,6.8c0.7,3.6,1.5,6.8,3.2,10.1c0.3-0.3,0.7-0.4,1.2-0.4c0.8,0,1.3,0.3,1.6,0.9c1.3-0.7,3,0,3.2,1.5
                c1.3,0,2.3,1,1.8,2.2c1.1,0.7,2.2,2.5,0.9,3.3C152.8,33.7,153.1,34.3,153,34.9z"/>
        </g>

        <path class="st3" d="M197.1,44.4h8.3l-4,4c-0.3,0.3-0.3,0.9,0,1.2c0.2,0.2,0.4,0.2,0.6,0.2c0.2,0,0.4-0.1,0.6-0.2l4-4v8.3
            c0,0.5,0.4,0.8,0.8,0.8c0.5,0,0.8-0.4,0.8-0.8v-8.3l4,4c0.2,0.2,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2c0.3-0.3,0.3-0.9,0-1.2l-4-4h8.3
            c0.5,0,0.8-0.4,0.8-0.8c0-0.5-0.4-0.8-0.8-0.8h-8.3l4-4c0.3-0.3,0.3-0.9,0-1.2c-0.3-0.3-0.9-0.3-1.2,0l-4,4v-8.3
            c0-0.5-0.4-0.8-0.8-0.8c-0.5,0-0.8,0.4-0.8,0.8v8.3l-4-4c-0.3-0.3-0.9-0.3-1.2,0c-0.3,0.3-0.3,0.9,0,1.2l4,4h-8.3
            c-0.5,0-0.8,0.4-0.8,0.8C196.2,44.1,196.6,44.4,197.1,44.4z"/>
        <path class="st3" d="M345.1,90.5h8.3l-4,4c-0.3,0.3-0.3,0.9,0,1.2c0.2,0.2,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l4-4v8.3
            c0,0.5,0.4,0.8,0.8,0.8c0.5,0,0.8-0.4,0.8-0.8v-8.3l4,4c0.2,0.2,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2c0.3-0.3,0.3-0.9,0-1.2l-4-4h8.3
            c0.5,0,0.8-0.4,0.8-0.8c0-0.5-0.4-0.8-0.8-0.8h-8.3l4-4c0.3-0.3,0.3-0.9,0-1.2c-0.3-0.3-0.9-0.3-1.2,0l-4,4v-8.3
            c0-0.5-0.4-0.8-0.8-0.8c-0.5,0-0.8,0.4-0.8,0.8v8.3l-4-4c-0.3-0.3-0.9-0.3-1.2,0c-0.3,0.3-0.3,0.9,0,1.2l4,4h-8.3
            c-0.5,0-0.8,0.4-0.8,0.8C344.2,90.1,344.6,90.5,345.1,90.5z"/>
        <path class="st3" d="M134.7,61.3h4.8l-2.3,2.3c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.3,0.1s0.2,0,0.3-0.1l2.3-2.3v4.8
            c0,0.3,0.2,0.5,0.5,0.5c0.3,0,0.5-0.2,0.5-0.5V62l2.3,2.3c0.1,0.1,0.2,0.1,0.3,0.1s0.2,0,0.3-0.1c0.2-0.2,0.2-0.5,0-0.7l-2.3-2.3
            h4.8c0.3,0,0.5-0.2,0.5-0.5s-0.2-0.5-0.5-0.5h-4.8l2.3-2.3c0.2-0.2,0.2-0.5,0-0.7c-0.2-0.2-0.5-0.2-0.7,0l-2.3,2.3v-4.8
            c0-0.3-0.2-0.5-0.5-0.5c-0.3,0-0.5,0.2-0.5,0.5v4.8l-2.3-2.3c-0.2-0.2-0.5-0.2-0.7,0c-0.2,0.2-0.2,0.5,0,0.7l2.3,2.3h-4.8
            c-0.3,0-0.5,0.2-0.5,0.5S134.4,61.3,134.7,61.3z"/>

        <circle class="st3" cx="308.8" cy="82.3" r="2.4"/>
        <circle class="st3" cx="344.5" cy="41.2" r="2.1"/>
        <circle class="st3" cx="306.3" cy="53.4" r="0.8"/>
        <circle class="st3" cx="389.1" cy="37.4" r="1.7"/>
        <circle class="st3" cx="400.3" cy="61.6" r="3.1"/>
        <circle class="st3" cx="391.7" cy="75.3" r="1.6"/>
        <circle class="st3" cx="430.1" cy="58.9" r="3.2"/>
        <circle class="st3" cx="424.6" cy="78.4" r="1.5"/>
        <circle class="st3" cx="206.6" cy="83.7" r="1.3"/>

        <polygon class="st3" points="79.7,64.9 71.5,53.9 76,53.9 67,41.9 58,53.9 62.5,53.9 54.3,64.9 61.7,64.9 50.5,79.9 83.6,79.9
            72.4,64.9 		"/>

        <path class="st3" d="M92.3,51.7h-6.5c-0.4,0-0.7,0.3-0.7,0.7c0,0.4,0.3,0.7,0.7,0.7h6.5l-2.4,2.4c-0.3,0.3-0.3,0.7,0,1
            c0.1,0.1,0.3,0.2,0.5,0.2c0.2,0,0.4-0.1,0.5-0.2l2.4-2.4v6.5c0,0.4,0.3,0.7,0.7,0.7c0.4,0,0.7-0.3,0.7-0.7v-6.5l2.4,2.4
            c0.1,0.1,0.3,0.2,0.5,0.2c0.2,0,0.4-0.1,0.5-0.2c0.3-0.3,0.3-0.7,0-1l-2.4-2.4h6.5c0.4,0,0.7-0.3,0.7-0.7c0-0.4-0.3-0.7-0.7-0.7
            h-6.5l2.4-2.4c0.3-0.3,0.3-0.7,0-1c-0.3-0.3-0.7-0.3-1,0l-2.4,2.4v-6.5c0-0.4-0.3-0.7-0.7-0.7c-0.4,0-0.7,0.3-0.7,0.7v6.5l-2.4-2.4
            c-0.3-0.3-0.7-0.3-1,0c-0.3,0.3-0.3,0.7,0,1L92.3,51.7z"/>
        <path class="st3" d="M32.2,67.3c0,0,0.1,0,0.1,0c0.6,0.2,1.1,0.1,1.6-0.3c0.4-0.3,0.6-0.8,0.6-1.3c0-1.1-1.2-1.9-2.3-1.4
            c0,0-0.1,0-0.1,0.1c-0.6,0.2-0.9,0.9-0.9,1.5C31.2,66.5,31.6,67.1,32.2,67.3z"/>
        <path class="st3" d="M40,77.7c0.1,0,0.1,0.1,0.2,0.1c0.7,0.5,1.8,0.5,2.5-0.1c0.6-0.5,0.8-1.2,0.7-2c-0.1-0.4-0.3-0.8-0.6-1.1
            c-0.3-0.3-0.8-0.5-1.2-0.6c-0.1,0-0.1,0-0.2,0c-0.9,0-1.8,0.4-2.1,1.3C39,76.2,39.3,77.1,40,77.7z"/>
        <path class="st3" d="M44.9,64.6c1.3,0.5,2-1.5,0.7-2C44.4,62.1,43.6,64.1,44.9,64.6z"/>
    </svg>

</template>
