<script setup>
    const props = defineProps(['data']);
</script>
<template>
    <svg version="1.1" viewBox="0 0 455.59 124.32" xmlns="http://www.w3.org/2000/svg">
    <defs>
    <clipPath id="a">
    <path d="m0 842h595v-842h-595z"/>
    </clipPath>
    </defs>
    <g transform="matrix(1.3333 0 0 -1.3333 -195.32 625.07)">
    <g clip-path="url(#a)">
    <g transform="translate(429.1 468.8)">
    <path d="m0 0h56.635c1.346 0 2.449-1.102 2.449-2.449v-56.635c0-1.347-1.103-2.448-2.449-2.448h-56.635c-1.347 0-2.449 1.101-2.449 2.448v56.635c0 1.347 1.102 2.449 2.449 2.449" :fill="data.colorGray" fill-rule="evenodd"/>
    </g>
    <g transform="translate(359.41 468.8)">
    <path d="m0 0h56.634c1.347 0 2.45-1.102 2.45-2.449v-56.635c0-1.347-1.103-2.448-2.45-2.448h-56.634c-1.348 0-2.449 1.101-2.449 2.448v56.635c0 1.347 1.101 2.449 2.449 2.449" :fill="data.colorGray" fill-rule="evenodd"/>
    </g>
    <g transform="translate(289.52 468.8)">
    <path d="m0 0h56.634c1.347 0 2.449-1.102 2.449-2.449v-56.635c0-1.347-1.102-2.448-2.449-2.448h-56.634c-1.347 0-2.449 1.101-2.449 2.448v56.635c0 1.347 1.102 2.449 2.449 2.449" :fill="data.colorGray" fill-rule="evenodd"/>
    </g>
    <g transform="translate(219.3 468.8)">
    <path d="m0 0h56.634c1.347 0 2.449-1.102 2.449-2.449v-56.635c0-1.347-1.102-2.448-2.449-2.448h-56.634c-1.348 0-2.45 1.101-2.45 2.448v56.635c0 1.347 1.102 2.449 2.45 2.449" :fill="data.colorBrand" fill-rule="evenodd"/>
    </g>
    <g transform="translate(148.94 468.8)">
    <path d="m0 0h56.634c1.347 0 2.449-1.102 2.449-2.449v-56.634c0-1.348-1.102-2.45-2.449-2.45h-56.634c-1.348 0-2.45 1.102-2.45 2.45v56.634c0 1.347 1.102 2.449 2.45 2.449" :fill="data.colorBrand" fill-rule="evenodd"/>
    </g>
    <g transform="translate(190.85 386.9)">
    <path d="m0 0v4.317h2.161v-4.317c0-0.604 0.208-1.115 0.626-1.532 0.42-0.417 0.931-0.625 1.535-0.625h8.625v6.474h2.16v-10.786c0-0.574-0.111-1.121-0.337-1.642-0.224-0.518-0.532-0.975-0.921-1.37-0.392-0.392-0.848-0.708-1.37-0.946-0.524-0.241-1.085-0.359-1.689-0.359h-6.048c-0.593 0-1.143 0.111-1.661 0.331-0.518 0.223-0.971 0.528-1.359 0.916-0.388 0.389-0.697 0.849-0.928 1.374-0.226 0.528-0.348 1.093-0.362 1.696h2.16c0-0.603 0.209-1.114 0.622-1.531 0.414-0.417 0.924-0.625 1.528-0.625h6.044c0.604 0 1.114 0.208 1.535 0.625 0.417 0.417 0.626 0.932 0.626 1.531v2.151h-8.629c-0.575 0-1.125 0.111-1.654 0.338-0.525 0.222-0.988 0.528-1.384 0.917-0.396 0.384-0.708 0.84-0.939 1.366-0.226 0.528-0.341 1.093-0.341 1.697m-21.99 2.16v2.161h15.1v-2.161h-6.475v-12.946h-2.161v12.946zm53.909 2.161v-2.161h-3.245c-0.601 0-1.111-0.208-1.525-0.625-0.413-0.421-0.621-0.931-0.621-1.535v-8.625h5.391v-2.161h-9.709v2.161h2.157v8.628c0 0.576 0.112 1.122 0.331 1.636 0.222 0.518 0.528 0.974 0.916 1.37 0.389 0.399 0.845 0.716 1.37 0.953 0.521 0.241 1.086 0.359 1.69 0.359zm-75.688-10.79v6.472c0 0.576 0.112 1.122 0.331 1.636 0.223 0.518 0.529 0.971 0.917 1.359 0.392 0.392 0.849 0.705 1.377 0.945 0.525 0.238 1.09 0.364 1.694 0.378h6.471c0.576 0 1.122-0.111 1.636-0.338 0.518-0.223 0.971-0.528 1.359-0.917 0.392-0.384 0.705-0.84 0.939-1.366 0.233-0.528 0.363-1.093 0.384-1.697h-2.161c0 0.604-0.208 1.115-0.625 1.532-0.421 0.417-0.931 0.625-1.535 0.625h-6.465c-0.604 0-1.114-0.208-1.535-0.625-0.417-0.421-0.625-0.931-0.625-1.535v-6.465c0-0.603 0.208-1.114 0.625-1.535 0.421-0.417 0.931-0.625 1.535-0.625h6.465c0.604 0 1.114 0.208 1.535 0.625 0.417 0.417 0.625 0.928 0.625 1.531h2.161c0-0.574-0.111-1.121-0.338-1.642-0.223-0.518-0.532-0.975-0.92-1.37-0.392-0.392-0.849-0.708-1.37-0.946-0.525-0.241-1.086-0.359-1.69-0.359h-6.471c-0.575 0-1.126 0.111-1.654 0.331-0.525 0.223-0.989 0.528-1.384 0.916-0.396 0.393-0.709 0.849-0.939 1.377-0.226 0.525-0.342 1.09-0.342 1.693m92.499-4.317v15.103h2.161v-11.975l10.782 11.975h2.161v-15.103h-2.161v12.188l-10.782-12.188zm-16.811 0v2.161h5.391v10.785h-5.391v2.161h7.537v-12.946h2.161v-2.161zm47.655 15.107v-2.161h-3.235c-0.604 0-1.114-0.208-1.531-0.625-0.417-0.421-0.625-0.931-0.625-1.535v-2.157c0-0.605 0.208-1.114 0.625-1.535 0.417-0.417 0.927-0.626 1.531-0.626h3.235v-2.151h-1.706l-4.307-4.317h-1.54v1.527l3.003 3.003c-0.428 0.14-0.827 0.341-1.194 0.61-0.37 0.267-0.686 0.577-0.956 0.932-0.266 0.357-0.475 0.751-0.626 1.191-0.151 0.438-0.227 0.894-0.227 1.366v2.157c0 0.579 0.112 1.125 0.339 1.639 0.223 0.518 0.528 0.974 0.916 1.37 0.385 0.399 0.842 0.716 1.367 0.953 0.528 0.241 1.092 0.359 1.696 0.359zm0-10.79v2.151h5.391v6.478h-5.391v2.161h7.551v-15.107h-2.16v4.317z" :fill="data.colorGray"/>
    </g>
    <g transform="translate(265.03 384.74)">
    <path d="m0 0c0-0.604 0.208-1.114 0.625-1.535 0.417-0.417 0.928-0.626 1.532-0.626h8.625v6.478h-8.625c-0.604 0-1.115-0.208-1.532-0.625-0.417-0.421-0.625-0.931-0.625-1.535zm-2.161-8.629v1.527l3.002 3.003c-0.427 0.14-0.827 0.341-1.194 0.611-0.37 0.266-0.686 0.576-0.956 0.931-0.266 0.357-0.475 0.751-0.626 1.191-0.15 0.438-0.226 0.894-0.226 1.366v2.157c0 0.579 0.112 1.125 0.338 1.639 0.223 0.518 0.529 0.975 0.917 1.37 0.385 0.399 0.841 0.716 1.366 0.953 0.529 0.241 1.093 0.36 1.697 0.36h10.786v-15.108h-2.161v4.317h-7.097l-4.307-4.317zm-23.292 0v15.104h2.161v-11.976l10.783 11.976h2.16v-15.104h-2.16v12.189l-10.783-12.189zm-22.202 2.161h10.782v10.785h-8.635c-0.601 0-1.112-0.208-1.525-0.625-0.413-0.421-0.622-0.931-0.622-1.535zm-4.318-2.161v2.161h2.157v8.628c0 0.576 0.112 1.122 0.331 1.636 0.223 0.518 0.528 0.975 0.917 1.37 0.388 0.399 0.845 0.716 1.37 0.953 0.521 0.241 1.085 0.36 1.69 0.36h10.781v-12.947h2.162v-2.161zm-22.21 10.786v4.318h2.161v-4.318c0-0.604 0.209-1.115 0.626-1.532 0.42-0.417 0.931-0.625 1.535-0.625h8.625v6.475h2.161v-10.787c0-0.574-0.112-1.121-0.338-1.642-0.223-0.518-0.532-0.975-0.92-1.37-0.393-0.392-0.849-0.708-1.371-0.946-0.524-0.241-1.085-0.359-1.689-0.359h-6.047c-0.594 0-1.144 0.111-1.662 0.331-0.517 0.223-0.97 0.528-1.358 0.916-0.389 0.389-0.698 0.849-0.928 1.374-0.227 0.529-0.349 1.093-0.363 1.696h2.161c0-0.603 0.208-1.114 0.622-1.531 0.413-0.417 0.924-0.625 1.528-0.625h6.044c0.603 0 1.114 0.208 1.534 0.625 0.418 0.417 0.626 0.932 0.626 1.531v2.151h-8.629c-0.575 0-1.125 0.111-1.654 0.338-0.524 0.222-0.988 0.528-1.384 0.917-0.395 0.385-0.708 0.841-0.938 1.366-0.226 0.528-0.342 1.093-0.342 1.697zm-21.99 2.16v2.162h15.101v-2.162h-6.476v-12.946h-2.16v12.946zm-21.778-8.629v6.472c0 0.576 0.112 1.122 0.331 1.636 0.223 0.518 0.528 0.972 0.916 1.359 0.392 0.392 0.849 0.705 1.378 0.946 0.525 0.237 1.089 0.363 1.693 0.378h6.471c0.576 0 1.122-0.112 1.637-0.338 0.517-0.224 0.97-0.529 1.358-0.917 0.393-0.385 0.706-0.841 0.939-1.367 0.233-0.528 0.363-1.092 0.385-1.697h-2.161c0 0.605-0.209 1.115-0.626 1.532-0.421 0.417-0.931 0.625-1.535 0.625h-6.464c-0.604 0-1.115-0.208-1.536-0.625-0.417-0.421-0.625-0.931-0.625-1.535v-6.465c0-0.603 0.208-1.114 0.625-1.535 0.421-0.417 0.932-0.625 1.536-0.625h6.464c0.604 0 1.114 0.208 1.535 0.625 0.417 0.417 0.626 0.928 0.626 1.531h2.161c0-0.574-0.112-1.121-0.338-1.642-0.223-0.518-0.532-0.975-0.921-1.37-0.392-0.392-0.848-0.708-1.37-0.946-0.525-0.241-1.085-0.359-1.69-0.359h-6.471c-0.575 0-1.125 0.111-1.654 0.331-0.525 0.223-0.988 0.528-1.384 0.916-0.395 0.393-0.708 0.849-0.938 1.377-0.227 0.526-0.342 1.09-0.342 1.693z" :fill="data.colorText" :stroke="data.colorText" stroke-miterlimit="22.926" stroke-width="1.099"/>
    </g>
    <g transform="translate(159.4 419.03)">
    <path d="m0 0v8.114c0 1.443 0.28 2.813 0.83 4.12 0.559 1.299 1.325 2.444 2.299 3.435 0.982 0.983 2.127 1.776 3.453 2.372 1.316 0.604 2.741 0.901 4.255 0.901h16.211c1.515 0 2.795 0.523 3.849 1.569 1.046 1.055 1.569 2.335 1.569 3.849v2.687c0 1.515-0.523 2.795-1.569 3.85-1.054 1.046-2.334 1.569-3.849 1.569h-16.211c-1.514 0-2.795-0.523-3.85-1.569-1.046-1.046-1.568-2.326-1.568-3.841h-5.419c0 1.443 0.28 2.813 0.83 4.111 0.559 1.29 1.325 2.435 2.299 3.427 0.982 1 2.127 1.794 3.453 2.389 1.316 0.604 2.731 0.901 4.246 0.901h16.229c1.406 0 2.768-0.279 4.075-0.847 1.316-0.559 2.471-1.326 3.462-2.299 1.001-0.965 1.794-2.11 2.389-3.435 0.604-1.317 0.902-2.741 0.902-4.256v-2.687c0-1.451-0.28-2.821-0.848-4.129-0.558-1.298-1.334-2.443-2.308-3.435-0.982-0.983-2.127-1.775-3.435-2.371-1.316-0.604-2.731-0.902-4.246-0.902h-16.211c-1.514 0-2.795-0.523-3.85-1.568-1.046-1.046-1.568-2.326-1.568-3.841v-2.696h32.466v-5.418z" fill="#fff"/>
    </g>
    <g transform="translate(228.56 424.46)">
    <path d="m0 0v5.419l17.333 17.333v-7.627l-9.706-9.706h9.706v-5.419zm17.333 22.752 9.705 9.705h5.419v-27.038h5.409v-5.419h-5.409v-5.418h-5.419v5.418h-9.705v5.419h9.705v19.411l-9.705-9.705z" fill="#fff"/>
    </g>
    <g transform="translate(298.72 419.03)">
    <path d="m0 0v37.885h18.938v-5.449l-13.52 0.03v-9.034h13.52v-5.418h-13.52v-12.596h13.52v-5.418zm18.938 23.432h8.109c1.442 0 2.813-0.279 4.12-0.848 1.299-0.559 2.435-1.325 3.408-2.299 0.965-0.964 1.749-2.109 2.353-3.434 0.595-1.317 0.911-2.732 0.947-4.247v-1.776c0-1.443-0.28-2.813-0.829-4.12-0.56-1.298-1.326-2.443-2.3-3.436-0.982-0.982-2.128-1.775-3.443-2.371-1.326-0.603-2.741-0.901-4.256-0.901h-8.109v5.418h8.109c1.515 0 2.795 0.523 3.841 1.569s1.568 2.326 1.568 3.841v1.776c0 1.515-0.522 2.795-1.568 3.841s-2.326 1.569-3.841 1.569h-8.109zm0 14.453h15.984l-0.033-5.485-15.951 0.036z" fill="#fff"/>
    </g>
    <g transform="translate(368.04 419.04)">
    <path d="m0 0v37.875h5.418v-30.031l27.039 30.031h5.418v-37.875h-5.418v30.563l-27.039-30.563z" fill="#fff"/>
    </g>
    <g transform="translate(438.41 451.5)">
    <path d="m0 0v5.418h37.866v-5.418h-16.237v-32.466h-5.419v32.466z" fill="#fff"/>
    </g>
    </g>
    </g>
    </svg>
</template>
