<script setup>
    import { inject } from 'vue';
    const Module = inject('module');
</script>
<template>
    <div class="px-2 md:px-4 flex flex-col sm:flex-row items-center">
        <div class="w-full sm:w-1/2">
            <img src="/images/tabler/png/computer-fix.webp">
        </div>
        <div class="w-full sm:w-1/2">
            <component :is="Module.view('main.ui:widget.title')">
                {{Module.get('data:contacts.title')}}
            </component>
            <div class="text-neutral-700 py-4">
                {{Module.get('data:contacts.description')}}
            </div>
        </div>
    </div>

    <component
        :is="Module.view('main.ui:content.block-divider')">
        <component
            :is="Module.view('icons:contacts')">
        </component>
    </component>

    <component :is="Module.view('contacts.ui:phones')">
        <component
            :is="Module.view('contacts.ui:phone')"
            :href="Module.get('data:contacts.items.support_phone.href')">
            <template #icon>
                <component :is="Module.view('icons:phone')"></component>
            </template>
            {{Module.get('data:contacts.items.support_phone.text')}}
            <template #description>для звонков из России</template>
        </component>
        <component
            :is="Module.view('contacts.ui:phone')"
            :href="Module.get('data:contacts.items.phone.href')">
            <template #icon>
                <component :is="Module.view('icons:phone')"></component>
            </template>
            {{Module.get('data:contacts.items.phone.text')}}
            <template #description>для звонков из других стран</template>
        </component>
    </component>
    <div class="flex justify-center pt-4">
        <div class="w-10 text-primary">
            <component
                :is="Module.view('icons:email')">
            </component>
        </div>
    </div>
    <component :is="Module.view('contacts.ui:emails')">
        <component
            :is="Module.view('contacts.ui:email')"
            :href="Module.get('data:contacts.items.email.href')">
            <template #caption>
                Круглосуточно
            </template>
            {{Module.get('data:contacts.items.email.text')}}
        </component>
    </component>
</template>
