<script setup>
    import { inject } from 'vue';
    const Module = inject('module');
</script>
<template>
    <div class="px-2 md:px-4 flex flex-col sm:flex-row items-center pb-4">
        <div class="w-full sm:w-4/12">
            <img src="/images/tabler/png/icons.webp">
        </div>
        <div class="w-full sm:w-8/12">
            <component :is="Module.view('main.ui:widget.title')">
                {{Module.get('data:lk.title')}}
            </component>
            <div class="text-neutral-700 py-4">
                {{Module.get('data:lk.description')}}
            </div>
        </div>
    </div>
    <div class="xl:px-6 2xl:px-10">
    <component
        :is="Module.view('main.ui:content.card')"
        type="info"
        border="primary"
        padding="lg"
        shadow="visible">
        <component :is="Module.view('main.ui:widget.title')">
            {{Module.get('data:lk.features.title')}}
        </component>
        <div class="flex flex-col xl:flex-row flex-wrap items-stretch justify-stretch pt-6">
            <div class="w-full xl:w-6/12 mb-4 xl:pr-4 flex items-start gap-2 text-neutral-500"
                v-for="item in Module.get('data:lk.features.items')">
                    <div class="min-w-8 text-primary mr-4">
                        <component :is="Module.view('icons:check-c')"></component>
                    </div>
                    <div class="text-md 2xl:text-lg">{{item}}</div>
            </div>
        </div>
    </component>
    </div>
</template>
