<script setup>
    import { inject } from 'vue';
    const Module = inject('module');
</script>
<template>
    <component
        v-if="Module.ready()"
        :is="Module.layout('cols2/12')"
        :content="['left', 'md']">
        <template #aside>
            <component
                :is="Module.view('main.ui:content.card')"
                shadow="vidible"
                type="info"
                border="primary">
                <component
                    :is="Module.view('main.ui:widget.title')">
                    <template #icon>
                        <component :is="Module.view('icons:clock')"></component>
                    </template>
                    График работы
                </component>
                <div class="py-4 px-8">
                    <div class="text-neutral-700 font-medium last:text-red-500 mb-1 last:mb-0 flex items-center gap-2"
                        v-for="(item, key) in Module.get('data:grafik.items')">
                        <span class="min-w-14">{{key}}</span><span>{{item}}</span>
                    </div>
                </div>
                <div class="mb-2 border-t text-neutral-500 text-sm pt-4">
                    {{Module.get('data:grafik.description')}}
                </div>
            </component>
        </template>

        <component :is="Module.view('contacts')"></component>

    </component>
    <component
        :is="Module.view('main.ui:content.block-divider')">
        <component
            :is="Module.view('icons:lk')">
        </component>
    </component>
    <component :is="Module.view('lk')"></component>


    <component :is="Module.view('main.ui:content.block-title')">
        {{Module.get('data:info.title')}}
    </component>
    <component
        :is="Module.view('main.ui:content.block-divider')">
        <component
            :is="Module.view('icons:info')">
        </component>
    </component>
    <div class="flex">
        <div class="w-full lg:w-11/12 2xl:w-10/12 mx-auto flex flex-wrap">
            <div class="
                w-full lg:w-6/12 px-2 lg:px-4 mb-4"
                v-for="item in Module.get('data:info.items')">
                <component
                    :is="Module.view('main.ui:content.card')"
                    type="info"
                    border="primary">
                    <component
                        :is="Module.view('main.ui:widget.title')">
                        <template #icon>
                            <component :is="Module.view(`icons:${item.icon}`)"></component>
                        </template>
                        {{item.title}}
                    </component>
                    <div class="info pt-4 mt-4 border-t" v-html="item.description"></div>
                </component>
            </div>
        </div>
    </div>
</template>
