<script setup>
    defineProps({
        content: {
            type: String,
            default: 'equal'
        },
    });
    const classes = {
        equal: {
            left: 'w-full lg:w-6/12',
            right: 'w-full lg:w-6/12',
        },
        left: {
            left: 'w-full lg:w-9/12',
            right: 'w-full lg:w-3/12',
        },
        right: {
            left: 'w-full lg:w-3/12',
            right: 'w-full lg:w-9/12',
        }
    }
</script>
<template>
    <div class="
        w-full h-full
        flex items-stretch justify-stretch">
        <div class="bg-red-300" :class="classes[content].left">
            {{classes[content].left}}
            <slot v-if="cols === 'left'"></slot>
            <slot v-else name="aside"></slot>
        </div>
        <div class="bg-green-300" :class="classes[content].right">
            {{classes[content].right}}
            <slot v-if="cols === 'right'"></slot>
            <slot v-else name="aside"></slot>
        </div>
    </div>
</template>
