<script setup>
    const props = defineProps({
        content: {
            type: Array,
            default: ['equal', 'md']
        },
    });

    const equal = {
        left: 'w-full lg:w-6/12',
        right: 'w-full lg:w-6/12',
    }

    const layouts = {
        sm: {
            left: {
                left: 'w-full lg:w-7/12',
                right: 'w-full lg:w-5/12',
            },
            right: {
                left: 'w-full lg:w-5/12',
                right: 'w-full lg:w-7/12',
            }
        },
        md: {
            left: {
                left: 'w-full lg:w-8/12',
                right: 'w-full lg:w-4/12',
            },
            right: {
                left: 'w-full lg:w-4/12',
                right: 'w-full lg:w-8/12',
            }
        },
        lg: {
            left: {
                left: 'w-full lg:w-9/12',
                right: 'w-full lg:w-3/12',
            },
            right: {
                left: 'w-full lg:w-3/12',
                right: 'w-full lg:w-9/12',
            }
        },
    }

    const layout = props.content[0] === 'equal'
        ? equal
        : layouts[props.content[1]][props.content[0]];
</script>

<template>
    <div class="flex flex-col lg:flex-row items-start gap-4">
        <div class="relative" :class="layout.left">
            <slot v-if="content[0] === 'left'"></slot>
            <slot v-else name="aside"></slot>
        </div>
        <div class="relative" :class="layout.right">
            <slot v-if="content[0] === 'right'"></slot>
            <slot v-else name="aside"></slot>
        </div>
    </div>
</template>
