<script setup>
    import { inject } from 'vue';
    const Module = inject('module');
    const settings = Module.get('settings:layouts');
    console.log('settings in : ', settings);
</script>
<template>

</template>
