<script setup>
    import { ref, inject } from 'vue';
    const Module = inject('module');

    const Phones = {
        phone: Module.get('data:phone'),
        support: Module.get('data:support_phone')
    }

    const Emails = {
        main: Module.get('data:email'),
        // sale: Module.get('data:sale')
    }
    Emails.main.title = 'Email по общим вопросам';

    const SaleEmails = {
        // main: Module.get('data:email'),
        sale: Module.get('data:sale')
    }

    SaleEmails.sale.title = 'Обработка заказов';

    const SupportEmails = {
        support: {
            title: 'Техническая поддержка',
            href: 'mailto:support@studio-24bit.ru',
            text: 'support@studio-24bit.ru'
        }
    }

    const EdoEmails = {
        support: {
            title: 'По вопросам взаиморасчетов и ЭДО',
            href: 'mailto:finbuh@studio-24bit.ru',
            text: 'finbuh@studio-24bit.ru'
        }
    }

    const mobRequisite = ref(false);

    const data = Module.get('data');
</script>
<template>
    <component
        v-if="Module.ready()"
        :is="Module.layout('cols2/12')"
        :content="['left', 'md']">
        <template #aside>
            <div class="hidden lg:block">
                <component
                    :is="Module.view('requisites')">
                </component>
            </div>
        </template>
        <component
            :is="Module.view('main.ui:content.card')"
            type="info"
            border="primary"
            padding="none"
            background="default">
            <component
                :is="Module.view('main.ui:content.teaser')"
                image="/images/contacts/teaser.jpeg">
                Мы занимаемся автоматизацией и цифровизацией бизнеса, начиная с разработки и поставки готовых решений до анализа и изменения бизнес-процессов компании с 2014 года. Наша компания является разработчиком и дистрибьютором как собственных решений, так и решений на платформе «1С: Предприятие».
            </component>
        </component>
        <div class="flex items-center  justify-center pt-4 lg:hidden" @click="mobRequisite = true">
            <component
                :is="Module.view('main.ui:button')"
                color="primary"
                :iconPre="Module.view('icons:check-list')">
                Реквизиты
            </component>
        </div>
    </component>

    <div class="w-full 2xl:w-8/12">
        <component
            :is="Module.view('main.ui:content.block-divider')">
            <component
                :is="Module.view('icons:contacts')">
            </component>
        </component>
        <component :is="Module.view('ui:phones')">
            <component
                v-for="(phone, type) in Phones"
                :is="Module.view('ui:phone')"
                :href="phone.href">
                <template #icon>
                    <component :is="Module.view(`icons:${type}`)"></component>
                </template>
                {{phone.text}}
                <template #description>
                    {{phone.title}}
                </template>
            </component>
        </component>
        <!-- <component
            :is="Module.view('main.ui:content.block-divider')">
            <component
                :is="Module.view('icons:email')">
            </component>
        </component> -->
        <div class="flex justify-center pt-4">
            <div class="w-10 text-primary">
                <component
                    :is="Module.view('icons:email')">
                </component>
            </div>
        </div>

        <component :is="Module.view('ui:emails')">
            <component
                v-for="(email, type) in Emails"
                :is="Module.view('ui:email')"
                :href="email.href">
                <template #caption>
                    {{email.title}}
                </template>
                {{email.text}}
            </component>
        </component>

<!-- Order -->

        <component
            :is="Module.view('main.ui:content.block-divider')">
            <component
                :is="Module.view('icons:order')">
            </component>
        </component>

        <div class="flex flex-col justify-center">

            <component :is="Module.view('ui:emails')">
                <component
                    v-for="(email, type) in SaleEmails"
                    :is="Module.view('ui:email')"
                    :href="email.href"
                    type="center">
                    <template #caption>
                        {{email.title}}
                    </template>
                    {{email.text}}
                </component>
            </component>

            <component
                :is="Module.view('ui:phone')"
                type="center">
                <template #icon>
                    <component :is="Module.view('icons:clock')"></component>
                </template>
                Понедельник – пятница с 9-00 до 18-00
                <template #description>
                    Оформить заказы на сайте можно круглосуточно
                </template>
            </component>
        </div>
<!-- /Order -->

<!-- Support -->

    <component
        :is="Module.view('main.ui:content.block-divider')">
        <component
            :is="Module.view('icons:support')">
        </component>
    </component>

    <div class="flex flex-col justify-center">

        <component :is="Module.view('ui:emails')">
            <component
                v-for="(email, type) in SupportEmails"
                :is="Module.view('ui:email')"
                :href="email.href"
                type="center">
                <template #caption>
                    {{email.title}}
                </template>
                {{email.text}}
            </component>
        </component>

        <component
            :is="Module.view('ui:phone')"
            type="center">
            <template #icon>
                <component :is="Module.view('icons:clock')"></component>
            </template>
            Понедельник – пятница с 9-00 до 18-00
            <template #description>
                Оформить заявки на техническую поддержку на сайте можно круглосуточно
            </template>
        </component>
    </div>

<!-- /Support -->

<!-- Edo -->

    <component
        :is="Module.view('main.ui:content.block-divider')">
        <component
            :is="Module.view('icons:edo')">
        </component>
    </component>

    <div class="flex flex-col justify-center">

        <component :is="Module.view('ui:emails')">
            <component
                v-for="(email, type) in EdoEmails"
                :is="Module.view('ui:email')"
                :href="email.href"
                type="center">
                <template #caption>
                    {{email.title}}
                </template>
                {{email.text}}
            </component>
        </component>

        <component
            :is="Module.view('ui:phone')"
            type="center">
            <template #icon>
                <component :is="Module.view('icons:clock')"></component>
            </template>
            Понедельник – пятница с 9-00 до 18-00
            <template #description>
                Отправить к нам запрос можно круглосуточно
            </template>
        </component>
    </div>

<!-- /Edo -->

    <component
        :is="Module.view('main.ui:content.block-divider')">
        <component
            :is="Module.view('icons:map')">
        </component>
    </component>

    <div class="text-center text-md font-bold pb-7">117624, Москва, ул. Поляны, д.5, пом. 54/2</div>

    <component
        :is="Module.view('module')"
        :module="Module.map()">
    </component>
    </div>

    <div class="
        lg:hidden
        fixed z-top
        top-0 left-0
        w-full h-full
        pt-header
        px-2
        bg-neutral-200
        transition-all duration-500"
        :class="[
            {'translate-x-[100%] opacity-0 xl:translate-x-0 xl:opacity-100': !mobRequisite},
            {'translate-x-0 opacity-100': mobRequisite}
        ]"
        @click="mobRequisite = false">
        <div class="pt-4">
            <component
                :is="Module.view('requisites')">
            </component>
            <div class="flex justify-center pt-4">
                <component
                    :is="Module.view('main.ui:button')"
                    :action="() => {mobRequisite = false}">
                    закрыть
                </component>
            </div>
        </div>
    </div>
</template>
