<script setup>
    import { inject } from 'vue';
    const Module = inject('module');

    const Data = Module.get('data');
    const Requisites = Data.detail.requisite;

    let content = '';
    Requisites.forEach((item) => {
        const titleStr = item.title
            ? `${item.title} `
            : '';
        content = `${content} ${titleStr}${item.text}\r\n`;
    });

</script>
<template>
    <div class="relative 2xl:absolute">
        <div class="2xl:pl-4">
    <component
        :is="Module.view('main.ui:content.card')"
        type="info"
        border="primary"
        shadow="visible"
        background="white">
        <component
            :is="Module.view('main.ui:widget.title')">
            <template #icon>
                <component :is="Module.view('icons:check-list')"></component>
            </template>
            Реквизиты
        </component>
        <component
            :is="Module.view('ui:requisites')">
            <component
                v-for="item in Requisites"
                :is="Module.view('ui:requisite')"
                :col="item.title?.length > 5">
                <template #caption>
                    {{item.title}}
                </template>
                {{item.text}}
            </component>
        </component>
        <component :is="Module.view('ui:buttons')">
            <component :is="Module.view('main.ui:download')" link="/docs/requisite.docx"></component>
            <component :is="Module.view('main.ui:copy')" :content></component>
        </component>
    </component>
        </div>
    </div>
</template>
