<script setup>
    defineProps({
        hideOnMd: {
            type: Boolean,
            default: false
        },
        transparent:{
            type: Boolean,
            default: false
        },
        animate: {
            type: Boolean,
            default: false
        },
        show: {
            type: Boolean,
        }
    });
</script>
<template>
    <div class="
        w-full
        pt-2 xl:pt-4
        pb-2 sm:pb-0
        box-border pointer-events-none"
        :class="[
            {'md:hidden': hideOnMd},
            {'bg-neutral-100': !transparent},
            {'fixed left-0 top-0': animate},
            {'translate-x-[-100%] opacity-0 lg:translate-x-0 lg:opacity-100': animate && !show},
            {'translate-x-0 opacity-100': animate && show}
        ]">
        <div class="w-full h-header xl:h-header-xl"></div>
    </div>
</template>
