<script setup>
    import { inject } from 'vue';
    const Module = inject('module');
    const Controller = Module.instance('controller');
</script>
<template>
    <component :is="Module.view('ui:body')">
        <component
            v-if="Module.get('options:showTop') && Controller.get('data:top')"
            :is="Module.view('ui:item.top')">
            <component
                :is="Module.view('main.ui:content.card')"
                padding="none"
                shadow="visible">
                <component
                    :is="Module.view('item')"
                    :item="Controller.get('data:top')">
                </component>
            </component>
        </component>
        <component :is="Module.view('ui:items.list')">
            <component :is="Module.view('ui:item.body-wrapper')"
                v-for="item in Controller.get('data:items')">
                <component
                    :is="Module.view('main.ui:content.card')"
                    :shadow="item.content
                        ? 'hover'
                        : 'default'"
                    padding="none">
                    <component
                        :is="Module.view('item')"
                        :item>
                    </component>
                </component>
            </component>
        </component>
    </component>
</template>
