<script setup>
    import { inject } from 'vue';
    const Module = inject('module');

    const load = () => {
        const footView = Module.get('options:footView');
    }
</script>
<template>
    <component
        :is="Module.view('main.ui:content.block-divider')"
        :hasIcon="false">
        <component
            v-if="Module.get('options:footView') === 'more'"
            :is="Module.view('main.ui:button')"
            color="info"
            href="/articles/">
            Все новости
        </component>
        <component
            v-else
            :is="Module.view('main.ui:button')"
            :action="load">
            показать ещё
        </component>
    </component>
</template>
