<script setup>
    import { inject } from 'vue';
    const Module = inject('module');
    const Controller = Module.instance('controller');
    const item = Controller.get('data:top');
</script>
<template>
    <component :is="Module.view('ui:head')">

    </component>
</template>
