<script setup>
    import { inject } from 'vue';

    const Module = inject('module');


    const props = defineProps({
        item: Object,
        index: Number,
        size: {
            type: String,
            default: 'articles'
        }
    });

    /**
     * TODO вынести работу с контроллером в файл, это должна быть переменная в случае переиспользования с другими модулями, не работает при импорте
     */

    let category = null;
    let link = props.item.link;
    if ( Module.instance('controller') ) {
        const Controller = Module.instance('controller');
        const categoriesColors = {
            'company_news': 'lime',
            'news_1c': 'info',
            'chestniy_znak': 'yellow',
            'products_update': 'emerald',
            'legal': 'indigo',
            'projects': 'fuchsia'
        }

        category = {
            title: Controller.get(`data:filter.categories.${props.item.category}`),
            link: `/articles/${props.item.category}/`,
            color: categoriesColors[props.item.category]
        }

        link = `${category.link}${props.item.slug}/`;
    }

    const date = props.item.active_from
        ? new Date(props.item.active_from.split('.').reverse().join('-'))
        : props.item.created_at;

    const showInLine = props.item.show_in_line
        ? props.item.show_in_line
        : 'body';

    const dates = {
        news: {
            top: date.toLocaleString('ru', {day: 'numeric'}),
            bottom: date.toLocaleString('ru', {month: 'short'}).replace('.', '')
        },
        project: date.toLocaleString('ru', {year: "numeric", month: "long"})
    }
    const viewSuffix = showInLine === 'top'
        ? 'top'
        : 'body';
</script>
<template>
    <component
        :is="Module.view(`ui:item.${viewSuffix}-inner`)"
        :item
        :category
        :dates
        :link
        :size>
        <template #source v-if="item.source">
            <component :is="Module.view('icons:ext-link')"></component>
        </template>
        <template #category>
            <component
                v-if="category"
                :is="Module.view('main.ui:button-link')"
                :color="category.color"
                :href="category.link">
                {{category.title}}
            </component>
        </template>
        <template #link v-if="props.item.content">
            <component
                :is="Module.view('main.ui:button')"
                :href="link"
                size="sm"
                color="b-default"
                spacing="none">
                <small>подробно</small>
            </component>
        </template>
    </component>
</template>
