<script setup>
    import { ref, onUnmounted } from 'vue';
    import { useIntersectionObserver } from '@vueuse/core';

    const container = ref(null);
    const isVisible = ref(false);

    const { stop, isSupported } = useIntersectionObserver(
        container,
        ([{ isIntersecting }], observerElement) => {
            isVisible.value = isIntersecting;
        },
        {threshold: 0.75}
    );

    if ( !isSupported ) {
        isVisible.value = true;
    }

    onUnmounted(() => {
        isVisible.value = false;
        stop();
    });
</script>
<template>
    <div class="
        w-full relative z-20 overflow-hidden
        flex flex-col items-center justify-center"
        ref="container">
        <h4 class="
            pt-4 mb-2
            text-xl 2xl:text-2xl font-medium">
            Корпоративным клиентам
        </h4>
        <div class="mb-4 w-full lg:w-2/3 mx-auto pb-4 text-center">У вас есть задача? Наши специалисты помогут вам найти оптимальное решение.</div>
        <div class="
            relative
            max-w-[80%]
            md:max-w-[70%]
            xl:max-w-[80%]
            3xl:max-w-[70%]">
            <slot
                name="slider">
            </slot>
        </div>
        <div class="
            size-24 -mt-6
            2xl:size-28
            relative z-30">
            <Transition
                enter-active-class="ease-out duration-700"
                enter-from-class="scale-50 opacity-0"
                enter-to-class="scale-100 opacity-100"
                leave-active-class="ease-in duration-300"
                leave-from-class="scale-100 opacity-100"
                leave-to-class="scale-50 opacity-0">
                <div class="w-full h-full"
                    v-if="isVisible">
                    <slot
                        name="message">
                    </slot>
                    <div class="
                        size-8 shadow rounded-full
                        bg-green-600 text-white
                        absolute
                        right-0
                        bottom-0
                        translate-full p-2 shadow">
                        <slot
                            name="icon">
                        </slot>
                    </div>
                </div>
            </Transition>
        </div>
    </div>
</template>
