<script setup>
//     import { ref, onUnmounted } from 'vue';
//     import { useIntersectionObserver } from '@vueuse/core';
//
//     const message = ref(null);
//     const trigger = ref(null);
//
//     const isVisible = ref(false);
//     const { stop, isSupported } = useIntersectionObserver(
//         trigger,
//         ([{ isIntersecting }], observerElement) => {
//             setTimeout(() => {
//                 isVisible.value = isIntersecting;
//             }, 500);
//         },
//         {threshold: 0.75}
//     );
//
//     if ( !isSupported ) {
//         isVisible.value = true;
//     }
//
//     onUnmounted(() => {
//         stop();
//     });
</script>
<template>
    <div class="
        w-full h-full
        rounded-full
        bg-neutral-700
        border-4 border-white
        shadow overflow-hidden"
        ref="trigger">
        <img class="
            h-full object-fit-cover"
            src="/images/corporate/help.jpg" />
    </div>

    <!-- <Transition
        enter-active-class="ease-out duration-700"
        enter-from-class="scale-50 opacity-0"
        enter-to-class="scale-100 opacity-100"
        leave-active-class="ease-in duration-0"
        leave-from-class="scale-100 opacity-100"
        leave-to-class="scale-50 opacity-0">
        <div class="

            w-[300px]
            sm:w-[340px]
            md:w-[380px]
            lg:w-[340px]
            3xl:w-[400px]

            -translate-y-full
            -translate-x-[25%]
            sm:-translate-x-[10%]

            text-xs sm:text-sm

            p-4 text-sm shadow-xl
            rounded-2xl
            bg-white border-2
            absolute z-top top-0"
            ref="message"
            v-if="isVisible">
            У вас есть задача? Наши специалисты помогут вам найти оптимальное решение.
        </div>
    </Transition> -->
</template>
