<script setup>
    import { ref, onUnmounted } from 'vue';
    import { useIntersectionObserver } from '@vueuse/core';
    import { Swiper, SwiperSlide } from 'swiper/vue';
    import { EffectCards, Navigation } from 'swiper/modules';

    import 'swiper/css';
    import 'swiper/css/effect-cards';

    const titles = [
        'Статистика и аналитика',
        'Бизнес-процессы',
        'Документооборот',
        'Автоматизация грузоперевозок',
        'Планирование',
        'Производительность труда'
    ];

    const description = [
        'Инструменты для финтеха и руководителя помогут держать руку на пульсе компании',
        'Консультирование и помощь в оптимизации бизнес-процессов компании',
        'Внедрение решений в области электронного документооборота',
        'Решения в области автоматизации грузоперевозок и складского учета',
        'Инструменты для планирования при распределении ресурсов компании',
        'Внедрение систем управления персоналом и кадрового учета',
    ];

    const container = ref(null);
    const navNext = ref(null);
    const navNextClick = ref(null);
    const isVisible = ref(false);

    const click = () => {
        navNextClick.value = setInterval(() => {
            navNext.value.click();
        }, 3000);
    }
    const clear = () => {
        clearInterval(navNextClick.value);
        navNextClick.value = null;
        isVisible.value = false;
    }

    const { stop, isSupported } = useIntersectionObserver(
      container,
      ([{ isIntersecting }], observerElement) => {
        isVisible.value = isIntersecting;
        isVisible.value
            ? click()
            :clear();
      },
      {threshold: 0.5}
    );

    if ( !isSupported ) {
        isVisible.value = true;
    }

    onUnmounted(() => {
        navNext.value = null;
        stop();
        clear();
    });
</script>
<template>
    <div ref="container">
        <swiper
            :effect="'cards'"
            :modules="[EffectCards, Navigation]"
            :speed="1000"
            :loop="true"
            :navigation="{
                nextEl: '.nav-next-card'
            }"
            :autoplay="true">
            <swiper-slide class="
                bg-white rounded-xl p-4
                shadow relative"
                v-for="(item, index) in 6"
                v-slot="{ isActive }">
                <h4 class="
                    w-full
                    absolute left-1/2 -translate-x-1/2
                    text-neutral-500 text-center
                    text-xs sm:text-base
                    uppercase text-nowrap">
                    {{titles[index]}}
                </h4>
                <img :src="`/images/corporate/chart_card_${index}.svg`"/>
                <Transition
                    enter-active-class="ease-out duration-700"
                    enter-from-class="scale-50 opacity-0"
                    enter-to-class="scale-100 opacity-100"
                    leave-active-class="ease-in duration-0"
                    leave-from-class="scale-100 opacity-100"
                    leave-to-class="scale-50 opacity-0">
                    <div class="

                        w-[280px]
                        sm:w-[340px]
                        md:w-[380px]
                        lg:w-[340px]
                        3xl:w-[400px]

                        -translate-y-[30%]

                        text-xs sm:text-sm

                        p-2 sm:p-4 text-sm shadow-xl
                        rounded-2xl
                        bg-white border-2
                        absolute z-top bottom-0 right-0"
                        v-if="isActive">
                        {{description[index]}}
                    </div>
                </Transition>
            </swiper-slide>
            <span class="nav-next-card" ref="navNext"></span>
        </swiper>
    </div>
</template>
