<script setup>
    // import MainLayout from '../../Layouts/MainLayout.vue';
    import { ref } from 'vue';
    import { useMain } from '@/Modules/Main';
    const Main = useMain();
    const logoIsHover = ref(false);
</script>
<template>
    <!-- <MainLayout> -->
        <header class="
            fixed z-20
            left-0 top-0 right-0
            flex items-center
            w-full">
            <nav class="
                flex items-center
                w-full h-full
                p-2 2xl:p-4
                bg-white rounded-xl shadow">
                <component
                    href="/"
                    :is="Main.view('ui:link')"
                    @mouseenter="logoIsHover = true"
                    @mouseleave="logoIsHover = false"
                    @click="Main.closeAside()">
                    <component
                        :is="Main.view('ui:logo.default')"
                        :logoIsHover>
                    </component>
                </component>
            </nav>
        </header>
        <div class="p-4 pt-20 lg:pt-24">
            <h1 class="text-3xl mb-5">Политика обработки файлов cookie</h1>
            <component :is="Main.view('ui:policy_cookies')"></component>
        </div>
    <!-- </MainLayout> -->
</template>
