<script setup>
    import { useMain } from '@/Modules/Main';
    const Main = useMain();
    defineProps({item: Object});
</script>
<template>
    <span class="
        group relative
        font-medium
        text-xs sm:text-sm text-center"
        :class="[
            {'hover:text-primary transition-colors duration-300 text-neutral-500': item.url},
            {'pointer-events-none text-neutral-400': !item.url}
        ]">
        <component
            v-if="item.url"
            :is="Main.view('ui:link')"
            :href="item.url">
            <template #icon v-if="item.url === '/'">
                <span class="w-4 h-4">
                    <component :is="Main.view('icons:home')"></component>
                </span>
            </template>
            <span v-if="item.url !== '/'">
                {{item.title}}
            </span>
        </component>
        <span v-else>
            {{item.title}}
        </span>
    </span>
    <span class="w-3 h-3 text-primary mr-1"
        v-if="item.url">
        <component :is="Main.view('icons:arrow-right-sm')"></component>
    </span>
</template>
