<script setup>
    import { useSlots } from 'vue';
    const props = defineProps({
        title: String,
        code: String,
        value: Object,
        active: String
    });
    const emit = defineEmits(['set:filter']);
    const colors = {
        info: 'bg-blue-500 text-blue-500',
        warning: 'bg-orange-500 text-orange-500',
        danger: 'bg-red-500 text-red-500',
        clear: 'bg-neutral-400 text-white',

        lime: 'bg-lime-400 text-white',
        emerald: 'bg-emerald-400 text-white',
        fuchsia: 'bg-fuchsia-400 text-white',
        indigo: 'bg-indigo-400 text-white',
        violet: 'bg-violet-400 text-white',
    }
    const colorClass = colors[props.code];
    const hasIcon = useSlots().default;
    const paddingClass = !hasIcon
        ? 'px-3 py-1 xl:px-0 xl:py-0'
        : '';

    const orderClass = hasIcon
        ? 'order-last xl:order-first'
        : 'order-none';

</script>
<template>
    <button class="
        xl:size-4 rounded-full cursor-pointer
        ring-2 ring-offset-1
        hover:ring-current
        ring-offset-light
        transition-all duration-300
        flex items-center justify-center"
        :class="[
            colorClass,
            paddingClass,
            orderClass,
            {'ring-current': active === code},
            {'ring-transparent': active !== code}
        ]"
        @click="emit('set:filter', value)"
        :title>
        <div class="size-5 xl:size-3" v-if="hasIcon">
            <slot></slot>
        </div>
        <div class="xl:hidden text-white text-xs text-nowrap"
            v-if="!hasIcon">
            {{title}}
        </div>
    </button>
</template>
