<template>
    <div class="
        flex
        flex-col xl:flex-row
        items-start 2xl:items-center
        sticky top-0 z-50
        inset-y-0
        w-full bg-neutral-100
        mb-4 shadow-b
        pb-4
        pt-20 xl:pt-0
        px-4 xl:px-2">
        <slot></slot>
    </div>
</template>
