<script setup>
    const props = defineProps({
        color: String,
        values: Object,
        field: Object
    });
</script>

<template>
    <input
        v-model="values[field.code]"
        type="hidden"
        :name="field.code"
    />
</template>
