<script setup>
    import { ref, inject, watchEffect, toRaw } from 'vue';
    import { usePosition } from '@/Modules/Utils/usePosition.js';

    const Module = inject('module');
    const FormController = Module.controller;
    const color = FormController.get('color', 'info');

    const Description = ref(null);
    const Items = ref(null);
    const isMarked = ref(null);

    const result = ref(null);
    const form = ref(null);
    const { top } = usePosition(form);

    const readyResult = ref(false);

    const close = () => {
        FormController.state('result', false);
        FormController.state('start-loading', false);
    }

    watchEffect(() => {
        const data = toRaw(FormController.state('result')).value;
        if (data.success) {
            Description.value = data.data[0].marked_description;
            Items.value = data.data[0].Items;
            isMarked.value = data.data[0].marked_flag;
        }
    });
</script>
<template>
    <component :is="Module.view('ui:wrapper')">
        <!-- Base -->
        <div ref="form">
            <component
                :is="Module.view('main.ui:content.card')"
                :border="color"
                :background="`${color}-light`"
                type="info"
                shadow="visible">
                <component
                    :is="Module.view('main.ui:widget.title')"
                    :iconsColor="color">
                    <template #icon>
                        <component :is="Module.view('icons:qr')"></component>
                    </template>
                    Проверка кода ТНВЭД
                </component>
                <component :is="Module.view('main.ui:widget.description')">
                    Для проверки товара на обязательность маркировки введите от 4-х до 10-ти первых цифр кода ТН ВЭД и нажмите кнопку «Проверить»
                </component>
                <!-- Form -->
                <component
                    :is="FormController.view('main')"
                    :data="FormController">
                </component>
            </component>
        </div>

        <!-- Result -->
        <Teleport
            v-if="FormController.state('start-loading').value"
            to="body">

            <component
                :is="Module.view('ui:result.container')"
                :readyResult
                :top>
                <component
                    :is="Module.view('main.ui:overlay')"
                    :close="close"
                    zIndex="bottom"
                    @mounted="readyResult = true">
                </component>
            <!-- Result wrapper -->
                <component :is="Module.view('ui:result.wrapper')">
            <!-- Result card -->
                    <component
                        :is="Module.view('main.ui:content.card')"
                        :border="color"
                        :background="`${color}-light`"
                        type="info">
                        <div class="flex flex-col items-stretch justify-stretch max-h-full h-full">
            <!-- Result title -->
                        <component
                            :is="Module.view('main.ui:widget.title')"
                            :iconsColor="color">
                            <template #icon>
                                <component :is="Module.view('icons:qr')"></component>
                            </template>
                            Проверка кода ТНВЭД
                        </component>
            <!-- Result head -->
                        <component
                            :is="Module.view('ui:result.head')"
                            :isMarked
                            :loader="Module.view('ui:loader')"
                            :isLoaded="!FormController.state('loading').value
                                && FormController.state('result').value">
                            <template #icon>
                                <component
                                    :is="Module.view(isMarked
                                        ? 'icons:check-c'
                                        : 'icons:off-c')">
                                </component>
                            </template>
                            {{Description}}.
                        </component>
            <!-- Result loader -->
                        <component
                            v-if="FormController.state('loading').value"
                            :is="Module.view('ui:result.content')">
                            <component :is="Module.view('main.ui:loader')"></component>
                        </component>
            <!-- Result content -->
                        <component
                            v-else
                            :is="Module.view('ui:result.content')">
                            <component
                                v-for="(item, index) in Items"
                                :is="Module.view('ui:result.item')"
                                :isSelect="item.Item_select">
                                <template #code>
                                    {{item.Item_code}}
                                </template>
                                <component
                                    :is="FormController.view('main.ui:content.card')"
                                    type="info"
                                    padding="none"
                                    shadow="hover"
                                    :border="!item.Item_select ? 'violet' : 'violet-dark'"
                                    :background="!item.Item_select ? 'violet-xlight' : 'violet-mdark'">
                                    <component
                                        :is="Module.view('ui:result.item-description')"
                                        :isSelect="item.Item_select">
                                        {{item.Item_description}}
                                    </component>
                                </component>
                            </component>

                        </component>
            <!-- Result top -->
                        <component
                            :is="Module.view('ui:result.top')"
                            :height="top">
                            <component
                                :is="Module.view('main.ui:button')"
                                size="sm"
                                spacing="none"
                                type="button"
                                color="b-violet"
                                :action="close">
                                Закрыть
                            </component>
                        </component>
                        </div>
            <!-- Result /card -->
                    </component>
            <!-- Result /content -->
                </component>
            <!-- Result /wrapper -->
            </component>
        </Teleport>
        <!-- /Result -->
    </component>
</template>
