<script setup>
   import { usePageData } from '@/Modules/PageData';
   const Module = usePageData();
</script>
<template>
    <component :is="Module.view('ui:breadcrumbs')">
        <component
            v-for="item in Module.get('data:pageData.breadcrumbs')"
            :is="Module.view('ui:breadcrumbs.item')"
            :item>
        </component>
    </component>
</template>
