<script setup>
   import { usePageData } from '@/Modules/PageData';
   const Module = usePageData();
</script>
<template>
    <component
        :is="Module.view('ui:pagetitle')">
        {{Module.get('data:pageData.pagetitle')}}
    </component>
</template>
