<script setup>
    import { provide } from 'vue';

    const props = defineProps({data: Object});
    /**
     * module Forms
     */
    const FormController = props.data;
    provide('controller', FormController);

    const Fields = FormController.get('data:fields');

    const buttonSize = FormController.get('button-size', 'base');
    const color = FormController.get('color', 'info');

    // :is="FormController.view(`fields:${field.form_type}`)"
    //
</script>
<template>
    <form
        @submit.prevent="FormController.submit()"
        :ref="FormController.ref('form')"
        enctype="multipart/form-data">
        <component
            v-for="field in Fields"
            :is="FormController.view('ui:wrapper')">
            <component
                v-if="FormController.ready()"
                :is="FormController.fieldView(field.form_type)"
                :color="color"
                :field="field">
            </component>
        </component>
        <component
            v-if="FormController.get('userconsent')"
            :is="FormController.view('userconsent')">
            {{FormController.get('button-title')}}
        </component>
        <component :is="FormController.view('ui:footer')">
            <component
                :is="FormController.view('main.ui:button')"
                :color="FormController.get('color')"
                :size="buttonSize"
                spacing="none"
                type="submit">
                {{FormController.get('button-title')}}
            </component>
            <template #cancel v-if="FormController.get('show-cancel-button')">
                <component
                    :is="FormController.view('main.ui:button')"
                    color="t-default"
                    :size="buttonSize"
                    :shadow="false"
                    :action="FormController.clear"
                    spacing="none"
                    type="button">
                    {{FormController.get('show-cancel-button')}}
                </component>
            </template>
        </component>
    </form>
</template>
