<script setup>
    import { inject } from 'vue';
    const Controller = inject('controller');

    const colors = {
        info: 'text-blue-500',
        warning: 'text-orange-500',
        danger: 'text-red-500',
        success: 'text-green-500',
        default: 'text-neutral-500',
        primary: 'text-primary',
        lime: 'text-lime-500',
        amber: 'text-amber-500',
        emerald: 'text-emerald-500',
        fuchsia: 'text-fuchsia-500',
        indigo: 'text-indigo-500',
        violet: 'text-violet-500',
    }
    const colorClass = colors[Controller.get('color')];
</script>
<template>
    <div class="text-xs text-neutral-500 mb-4">
        <component
            :is="Controller.view('main.ui:modal')"
            :icon="Controller.view('icons:userconcent')"
            head="Политика в отношении обработки персональных данных"
            color="warning"
            maxWidth="1/2">
            <template #trigger>
                Нажимая кнопку «<slot></slot>» вы даёте разрешение на
                <span class="
                    text-nowrap
                    cursor-pointer
                    underline"
                    :class="colorClass">
                    обработку персональных данных
                </span>
            </template>
            <div>
                <component :is="Controller.view('main.ui:policy_pers')"></component>
            </div>
        </component>
    </div>
</template>
