<script setup>
    import { inject } from 'vue';
    const Module = inject('module');
</script>
<template>
    <component
        v-if="Module.ready()"
        :is="Module.layout('cols2/12')"
        :content="['left', 'md']">
        <template #aside>
            <component
                :is="Module.view('main.ui:content.card')"
                shadow="vidible"
                type="info"
                border="primary">
                <component
                    :is="Module.view('main.ui:widget.title')">
                    <template #icon>
                        <component :is="Module.view('icons:company')"></component>
                    </template>
                    Компания в цифрах
                </component>

            </component>
        </template>
        <component
            :is="Module.view('main.ui:content.card')"
            type="info"
            border="primary"
            padding="none"
            background="default">
            <component
                :is="Module.view('main.ui:content.teaser')"
                image="/images/contacts/teaser.jpeg">
                IT-компания «Студия-24бит» - это команда профессионалов в области разработки и IT-консалтинга. Мы занимаемся автоматизацией бизнес-процессов наших клиентов с 2014 года. Наша миссия – это разработка, внедрение и сопровождение информационных систем и решений, помогающих бизнесу развиваться и уверенно смотреть в будущее.
            </component>
        </component>
    </component>

    <component
        :is="Module.view('main.ui:content.block-divider')">
        <component
            :is="Module.view('icons:info')">
        </component>
    </component>

    <div class="px-2 md:px-4 flex flex-col sm:flex-row items-center pb-4">
        <div class="w-full sm:w-4/12">
            <img src="/images/tabler/png/icons-production.webp">
        </div>
        <div class="w-full sm:w-6/12">
            <component :is="Module.view('main.ui:widget.title')">
                Как мы работаем
            </component>
            <div class="text-neutral-700 py-4">
                <p>В текущих реалиях большая часть работ выполняется удаленно. Мы находимся в Москве, но работаем по всей России и за рубежом. Для взаимодействия с клиентом мы используем онлайн конференции и чаты.</p>

                <p>Мы дорожим своей репутацией, фокусируемся на качестве наших работ и всегда рады долгосрочному сотрудничеству. Со многими клиентами мы работаем по несколько лет.</p>

            </div>
        </div>
    </div>
    <div class="px-2 md:px-4 flex flex-col sm:flex-row items-center pb-4">

        <div class="w-full sm:w-6/12 ml-auto">
            <component :is="Module.view('main.ui:widget.title')">
                Взаимодействие с клиентами B2B
            </component>
            <div class="text-neutral-700 py-4">
                Ключевой момент успешной реализации проекта - постоянное взаимодействие с клиентом. Для этого с нашей стороны для каждого проекта назначается персональный руководитель проекта. В процессе работы над проектами мы подбираем оптимальный технологический стек для каждого проекта.
            </div>
        </div>
        <div class="w-full sm:w-4/12">
            <img src="/images/tabler/png/email.webp">
        </div>
    </div>
</template>
