<script setup>
    // import { Head } from '@inertiajs/vue3';
    import MainLayout from '../Layouts/MainLayout.vue';

    import { useMain } from '@/Modules/Main';
    import { useAboutPage } from '@/Modules/Content/About';

    import { useArticles } from '@/Modules/Content/Articles';

    const Main = useMain();
</script>
<template>
    <MainLayout>
        <component
            :is="Main.view('module')"
            :module="useAboutPage()">
        </component>

        <component :is="Main.view('ui:content.block-title')">
            Реализованные проекты
        </component>
        <component
            :is="Main.view('ui:content.block-divider')">
            <component
                :is="Main.view('icons:info')">
            </component>
        </component>
        <component
            :is="Main.view('module')"
            :module="useArticles({
                showTitle: true,
                useFilter: false,
                showTop: true,
                footView: 'more'
            })">
        </component>
    </MainLayout>
</template>
