<script setup>
    // import { Head } from '@inertiajs/vue3';
    import MainLayout from '../Layouts/MainLayout.vue';

    import { provide } from 'vue';
    import { useContactsPage } from '@/Modules/Content/Contacts';

    const Contacts = useContactsPage();
    provide('module', Contacts);
</script>
<template>
    <MainLayout>
        <component :is="Contacts.view('main')"></component>
    </MainLayout>
</template>
