<script setup>
    // import { Head } from '@inertiajs/vue3';
    import MainLayout from '../Layouts/MainLayout.vue';

    import { useMain } from '@/Modules/Main';
    import { useBanners } from '@/Modules/Widgets/Banners';
    import { useAdvantages } from '@/Modules/Widgets/Advantages';
    import { useCorporate } from '@/Modules/Widgets/Corporate';
    import { useArticles } from '@/Modules/Content/Articles';

    const Main = useMain();

    const Corporate = useCorporate();
        Corporate.import('content', Corporate.view('slider'));
</script>

<template>
    <MainLayout>
        <component
            :is="Main.view('module')"
            :module="useBanners()"
            view="w-full">
        </component>
        <component
            :is="Main.view('module')"
            :module="useAdvantages()">
        </component>
        <component
            :is="Main.view('ui:content.block-divider')">
            <component
                :is="Main.view('icons:chevron-down')">
            </component>
        </component>
        <component
            :is="Main.view('module')"
            :module="Corporate">
        </component>
        <component
            :is="Main.view('ui:content.block-divider')">
            <component
                :is="Main.view('icons:news')">
            </component>
        </component>
        <component
            :is="Main.view('module')"
            :module="useArticles({
                showTitle: true,
                useFilter: false,
                showTop: true,
                footView: 'more'
            })">
        </component>
    </MainLayout>
</template>
