<script setup>
    // import { Head } from '@inertiajs/vue3';
    import MainLayout from '../Layouts/MainLayout.vue';

    import { useMain } from '@/Modules/Main';
    import { useSupportPage } from '@/Modules/Content/Support';
    // import { useArticles } from '@/Modules/Content/Articles';

    const Main = useMain();
</script>
<template>
    <MainLayout>
        <component
            :is="Main.view('module')"
            :module="useSupportPage()">
        </component>
        <!-- <component
            :is="Main.view('ui:content.block-divider')">
            <component
                :is="Main.view('icons:news')">
            </component>
        </component>
        <component
            :is="Main.view('module')"
            :module="useArticles({
                showTitle: true,
                useFilter: false,
                showTop: false,
                footView: 'more'
            })">
        </component> -->
    </MainLayout>
</template>
