<script setup>
    import { computed } from 'vue';

    const props = defineProps({
        color: String,
        error: Boolean,
        labelFor: String,
        showLabel: Boolean,
        isEmpty: Object,
        clear: Function,
        required: Boolean,
        length: Number,
        showLen: Object
    });
    const isEmpty = computed(() => props.isEmpty.value);
    const rings = {
        primary: 'has-[:focus]:ring-primary',
        info: 'has-[:focus]:ring-blue-400',
        warning: 'has-[:focus]:ring-orange-400',
        danger: 'has-[:focus]:ring-red-400',
        success: 'has-[:focus]:border-green-400',
        default: 'has-[:focus]:border-neutral-300',

        violet: 'has-[:focus]:ring-violet-400',
        'violet-dark': 'has-[:focus]:ring-violet-700',
        'amber-dark': 'has-[:focus]:ring-amber-800',

        transparentDef: 'ring-transparent',
        dangerDef: 'ring-red-400',
        successDef: 'ring-green-400',
    }
    const ringClass = computed(() => {
        let res = props.error
            ? rings.dangerDef
            : `${rings.transparentDef} ${rings[props.color]}`;

        if ( !props.error && !props.isEmpty.value )
            res = rings.successDef;

        return res;
    });
</script>
<template>
    <div class="relative mb-2">
        <label class="
            px-1
            text-xs text-neutral-500"
            v-show="showLabel"
            :for="labelFor">
            <slot name="label"></slot>
            <sup class="
                text-red-500"
                v-if="required">*
            </sup>
        </label>
        <div class="
            relative z-30
            overflow-hidden
            flex items-center
            min-h-10
            rounded-md
            ring-2
            outline-none
            bg-white/60
            transition-all duration-300"
            :class="[
                ringClass,
                {'not-empty': !isEmpty}
            ]">
            <slot></slot>
            <Transition
                enter-active-class="ease-out duration-150"
                enter-from-class="opacity-0 translate-x-full"
                enter-to-class="opacity-100 translate-x-0"
                leave-active-class="ease-in duration-100"
                leave-from-class="opacity-100 translate-x-0"
                leave-to-class="opacity-0 translate-x-full">
                <div class="
                    absolute top-0 right-0 bottom-0
                    z-50 h-full
                    flex items-center
                    pointer-events-none"
                    v-show="!isEmpty">
                    <button class="
                        size-5 cursor-pointer
                        hover:rotate-180
                        pointer-events-auto mr-2
                        text-neutral-500 hover:text-neutral-700
                        transition-all duration-500"
                        type="button"

                        @click="clear">
                        <slot name="clear"></slot>
                    </button>
                </div>
            </Transition>
        </div>
        <div class="
            flex items-center
            w-[96%] sm:w-11/12 px-2
            absolute z-40 left-1/2
            -translate-x-1/2 -translate-y-1/2
            rounded-full
            pointer-events-none
            text-xs text-red-500
            bg-white shadow-sm"
            v-show="error">
            <slot name="error"></slot>
            <span class="
                text-black ml-auto"
                v-if="showLen && showLen.min > 2">
                {{length}}
            </span>
        </div>
    </div>
</template>
