<script setup>
    import { inject } from 'vue';
    const Module = inject('module');
    const props = defineProps({item: Object, index: Number});

    const categoryLink = '/articles/'+props.item.category+'/';
    const detailLink = categoryLink+props.item.slug+'/';

</script>
<template>
    <component
        v-if="item.content"
        :is="Module.view('main.ui:modal')"
        :icon="Module.view('icons:info')"
        :head="item.name"
        :color="item.show_in_line">
        <template #trigger>
            <component
                :is="Module.view('ui:item')"
                :isLink="true"
                :icon="Module.view('icons:v-dots')">
                <template #date>{{ item.active_from }}</template>
                {{ item.name }}
            </component>
        </template>
        <div v-html="item.description"></div>
        <template #foot>
            <component
                :is="Module.view('main.ui:button')"
                :color="item.show_in_line"
                :href="detailLink"
                spacing="l-auto">
                Подробно
            </component>
        </template>
    </component>
    <component
        v-else
        :is="Module.view('ui:item')">
        <template #date>{{ item.active_from }}</template>
        {{ item.name }}
    </component>
</template>
