<script setup>
    import { inject } from 'vue';
    const Module = inject('module');
    const Controller = Module.instance('controller');
</script>
<template>
    <component :is="Module.view('ui:item.wrapper')"
        v-for="(item, index) in Controller.get('data')">
        <component
            :is="Module.view('main.ui:content.card')"
            :border="item.show_in_line"
            :shadow="item.content ? 'hover': 'default'"
            padding="none"
            type="info">
            <component
                :is="Module.view('body.item')"
                :item
                :index>
            </component>
        </component>
    </component>
</template>
