@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'NotoSans';
        font-style: normal;
        font-display: swap;
        src: url(../fonts/NotoSans/NotoSans-VariableFont_wdth,wght.ttf);
    }

    .scroll-hidden::-webkit-scrollbar  {
        display: none;
    }
    .scroll {
        scrollbar-width: auto;
    }
    .scroll::-webkit-scrollbar {
        opacity: 1;
        width: 9px;
    }

    .scroll-sm {
        scrollbar-width: thin;
    }
    .scroll-sm::-webkit-scrollbar {
        width: 5px;
    }
    .scroll::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0);
    }
    .scroll::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }

    .scroll-primary {
        scrollbar-color: theme(colors.primary);
    }
}

@layer components {

}

@layer utilities {
    .text-transparent {
        -webkit-text-fill-color: transparent;
    }

    .pt-slider {
        @apply sm:pt-7 2xl:pt-14
    }

    @media screen(4xl) {
      body {
          font-size: 36px;
      }
    }

    @media screen(5xl) {
      body {
          font-size: 52px;
      }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        @apply appearance-none m-0
    }
    p:not(:last-child) {
        @apply mb-4 4xl:mb-8 5xl:mb-10
    }

    input:not([type="checkbox"]),
    input:not([type="radio"]),
    input:not([type="file"]),
    textarea {
        @apply relative z-30 w-full min-h-10 px-2 bg-transparent outline-none box-border
    }
    textarea {
        @apply pt-2 min-h-14 scroll scroll-smooth
    }
    .not-empty > input:not([type="checkbox"]),
    .not-empty > input:not([type="radio"]),
    .not-empty > input:not([type="file"]),
    .not-empty > textarea {
        @apply pr-8
    }
    .info > a {
        @apply text-primary hover:underline
    }
}
