<script setup>
    const props = defineProps({icon: Function});
</script>
<template>
    <div class="
        relative
        pointer-events-none
        size-8 text-primary bg-red-100">
        <component :is="icon"></component>
    </div>
</template>
