<template>
    <div class="flex flex-col lg:flex-row items-start gap-4">
        <div class="w-full lg:w-8/12 xl:w-8/12">
            <slot></slot>
        </div>
        <div class="w-full lg:w-4/12 xl:w-4/12 relative">
            <slot name="right"></slot>
        </div>
    </div>
</template>
