<script setup>
    import { ref, useSlots }  from 'vue';
    import { useIntersectionObserver } from '@vueuse/core';

    const props = defineProps({
        item: Object,
        category: Object,
        dates: Object,
        link: String,
        size: {
            type: String,
            default: 'articles'
        }
    });

    const container = ref(null);
    const isVisible = ref(false);
    useIntersectionObserver(
        container,
        ([{ isIntersecting }], observerElement) => {
            isVisible.value = isIntersecting;
        },
        {threshold: 0.75}
    );

    const hasLink = useSlots().link;
    const hasSource = props.item.source;
</script>
<template>
    <div class="
        flex flex-col
        rounded-2xl
        items-stretch justify-stretch">
        <div class="
            overflow-hidden"
            ref="container">
            <div class="
                relative
                w-full
                rounded-2xl overflow-hidden"
                :class="{'bg-neutral-200' : 'item.logo'}">
                <img class="
                    w-full h-60 object-cover"
                    v-if="item.preview_picture"
                    :src="item.preview_picture" />

                <Transition
                    enter-active-class="ease-out duration-500"
                    enter-from-class="-translate-x-full opacity-0"
                    enter-to-class="translate-x-0 opacity-100"
                    leave-active-class="ease-in duration-500"
                    leave-from-class="translate-x-0 opacity-100"
                    leave-to-class="-translate-x-full opacity-0">
                    <div class="
                        absolute top-0 left-0
                        flex flex-col
                        w-20
                        py-3 rounded-2xl
                        text-white text-center
                        shadow-lg bg-primary

                        mt-4 ml-4
                        border border-white"
                        v-if="!item.logo && dates && isVisible">
                        <span class="text-4xl font-bold">{{dates.news.top}}</span>
                        <span class="text-lg">{{dates.news.bottom}}</span>
                    </div>
                </Transition>
                <Transition
                    enter-active-class="ease-out duration-500"
                    enter-from-class="-translate-x-full opacity-0"
                    enter-to-class="translate-x-0 opacity-100"
                    leave-active-class="ease-in duration-500"
                    leave-from-class="translate-x-0 opacity-100"
                    leave-to-class="-translate-x-full opacity-0">
                    <div class="
                        absolute top-0 left-0
                        flex flex-col
                        w-20
                        py-3 rounded-2xl
                        text-white text-center
                        shadow-lg bg-primary"
                        v-if="item.logo && isVisible">
                        <img class="h-14" :src="item.logo"/>
                    </div>
                </Transition>
                <Transition
                    enter-active-class="ease-out duration-500"
                    enter-from-class="translate-x-full opacity-0"
                    enter-to-class="translate-x-0 opacity-100"
                    leave-active-class="ease-in duration-500"
                    leave-from-class="translate-x-0 opacity-100"
                    leave-to-class="translate-x-full opacity-0">
                    <div class="
                        absolute bottom-4 right-4
                        inline-block"
                        v-if="category && isVisible">
                        <slot name="category"></slot>
                    </div>
                </Transition>
                <Transition
                    enter-active-class="ease-out duration-500"
                    enter-from-class="translate-x-full opacity-0"
                    enter-to-class="translate-x-0 opacity-100"
                    leave-active-class="ease-in duration-500"
                    leave-from-class="translate-x-0 opacity-100"
                    leave-to-class="translate-x-full opacity-0">
                    <h5 class="
                        rounded-full bg-black/20 px-6 py-1 backdrop-blur
                        absolute bottom-4 right-4
                        mb-2 text-white text-4xl font-bold"
                        v-if="item.logo && isVisible">
                        {{item.name}}
                    </h5>
                </Transition>
            </div>
        </div>
        <div class="
            flex flex-col justify-center
            w-full
            p-4 xl:p-6">
            <h5 class="
                font-medium mb-2"
                v-if="!item.logo">
                {{item.name}}
            </h5>
            <div class="
                text-neutral-500
                line-clamp-3 mb-4"
                :class="size === 'detail' ? 'text-lg':'text-sm'">
                {{item.description}}
            </div>
            <div class="
                w-full flex items-center h-10"
                v-if="size !== 'detail'">
                <slot name="link"></slot>
                <div class="
                    flex items-center"
                    :class="{'ml-2': hasLink}"
                    v-if="hasSource">
                    <a class="
                        text-xs
                        text-neutral-500 hover:text-primary
                        flex items-center"
                        target="_blank"
                        :href="item.source">
                        <span class="size-3 mr-1">
                            <slot name="source"></slot>
                        </span>
                        <span>источник</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
