<script setup>
    const props = defineProps({
        size: {
            type: String,
            default: 'compact'
        }
    });

    const sizes = {
        articles: 'basis-full lg:basis-1/2 2xl:basis-1/3 mx-auto',
        compact: 'basis-full lg:basis-1/2 2xl:basis-1/3',
        detail: 'w-full'
    }
    const sizeClass = sizes[props.size];
</script>
<template>
    <div class="

        px-2 mb-4"
        :class="sizeClass">
        <slot></slot>
    </div>
</template>
