<script setup>
    import { ref, useSlots }  from 'vue';
    import { useIntersectionObserver } from '@vueuse/core';

    const props = defineProps({
        item: Object,
        category: Object,
        dates: Object,
        link: String
    });

    const container = ref(null);
    const isVisible = ref(false);
    useIntersectionObserver(
        container,
        ([{ isIntersecting }], observerElement) => {
            isVisible.value = isIntersecting;
        },
        {threshold: 0.75}
    );

    const hasLink = useSlots().link;
    const hasSource = props.item.source;
</script>
<template>
    <div class="
        flex flex-col xl:flex-row
        rounded-2xl
        items-stretch justify-stretch">
        <div class="
            overflow-hidden
            w-full xl:w-8/12"
            ref="container">
            <div class="
                relative
                w-full
                rounded-2xl overflow-hidden">
                <img class="
                    w-full min-h-80 object-cover"
                    :src="item.preview_picture" />

                <Transition
                    enter-active-class="ease-out duration-500"
                    enter-from-class="-translate-x-full opacity-0"
                    enter-to-class="translate-x-0 opacity-100"
                    leave-active-class="ease-in duration-500"
                    leave-from-class="translate-x-0 opacity-100"
                    leave-to-class="-translate-x-full opacity-0">
                    <div class="
                        absolute top-0 left-0
                        flex flex-col
                        w-20
                        py-3 rounded-2xl
                        text-white text-center
                        shadow-lg bg-primary

                        mt-4 ml-4
                        border border-white"
                        v-if="dates && isVisible">
                        <span class="text-4xl font-bold">{{dates.news.top}}</span>
                        <span class="text-lg">{{dates.news.bottom}}</span>
                    </div>
                </Transition>
                <Transition
                    enter-active-class="ease-out duration-500"
                    enter-from-class="translate-x-full opacity-0"
                    enter-to-class="translate-x-0 opacity-100"
                    leave-active-class="ease-in duration-500"
                    leave-from-class="translate-x-0 opacity-100"
                    leave-to-class="translate-x-full opacity-0">
                    <div class="
                        absolute bottom-4 right-4
                        inline-block"
                        v-if="isVisible">
                        <slot name="category"></slot>
                    </div>
                </Transition>
            </div>
        </div>
        <div class="
            flex flex-col justify-center
            w-full xl:w-4/12
            xl:min-h-80
            p-4 2xl:p-6">
            <h5 class="font-medium mb-2">{{item.name}}</h5>
            <div class="
                text-neutral-500 text-sm
                line-clamp-5 mb-4">
                {{item.description}}
            </div>
            <div class="w-full flex items-center h-10">
                <slot name="link"></slot>
                <div class="flex items-center"
                    :class="{'ml-2': hasLink}"
                    v-if="hasSource">
                    <a class="
                        text-xs
                        text-neutral-500 hover:text-primary
                        flex items-center"
                        target="_blank"
                        :href="item.source">
                        <span class="size-3 mr-1">
                            <slot name="source"></slot>
                        </span>
                        <span>источник</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
