<script setup>
    import { useMain } from '@/Modules/Main';
    const Main = useMain();

    const props = defineProps({height: String, code: String});
    const heights = {
        auto: 'flex-none',
        full: 'grow shrink'
    }
    const heightClass = heights[props.height];
</script>
<template>
    <div class="
        w-full
        absolute
        right-0 top-0 bottom-0
        xl:relative
        h-full xl:h-auto
        duration-500
        pointer-events-auto
        scroll scroll-sm scroll-primary
        overflow-x-hidden overflow-y-auto"
        :class="[
            heightClass,
            {'translate-x-[100%] opacity-0 xl:translate-x-0 xl:opacity-100': !Main.state(`${code}IsActive`).value},
            {'translate-x-0 opacity-100': Main.state(`${code}IsActive`).value}
        ]">
        <div class="
            w-full h-auto min-h-full
            pointer-events-auto
            bg-neutral-100">
            <slot></slot>
        </div>
    </div>
</template>
