<template>
    <section>
        <div>
            <p>Посещая сайт Студия-24бит в сети «Интернет», Вы соглашаетесь с настоящей политикой, в том числе с тем, что Студия-24бит может использовать файлы cookie и иные данные для их последующей обработки системами Google Analytics, Яндекс.Метрика и др., а также может передавать их третьим лицам для проведения исследований, выполнения работ или оказания услуг.</p>
        </div>
        <div>
            <h3>Файлы cookie</h3>
            <p>Файлы cookie представляют собой небольшие текстовые файлы, которые сохраняются на вашем устройстве (персональном компьютере, мобильном телефоне и т.п.), когда вы посещаете сайты в сети «Интернет».</p>
            <p>При посещении сайта Студия-24бит в сети «Интернет» происходит автоматический сбор иных данных, в том числе: технических характеристик устройства, IP-адреса, информации об используемом браузере и языке, даты и времени доступа к сайту, адресов запрашиваемых страниц сайта и иной подобной информации.</p>
            <p>Такие файлы идентифицируют Вас как пользователя, но не как личность и после того, как будет проведена процедура анализа, удаляются из системы автоматически.</p>
        </div>
        <div>
            <h3>Какие виды файлов cookie используются</h3>
            <p>В зависимости от используемых Вами браузера и устройства используются разные наборы файлов cookie, включающие в себя строго необходимые, эксплуатационные, функциональные и аналитические файлы cookie:</p>
            <ul>
                <li>Строго необходимые:<br/>
                    Эти файлы cookie поддерживают навигацию по сайту и предоставление запрашиваемых услуг, например, для доступа к защищенным страницам. Файлы cookie этого типа применяются при регистрации пользователей и при входе в систему. Без них становятся недоступны запрашиваемые пользователем услуги. Без этих файлов cookie сайт не будет работать должным образом.
                </li>
                <li>Эксплуатационные:<br/>
                   Эти файлы cookie собирают информацию об использовании сайта пользователями, например, данные о наиболее посещаемых страницах и продолжительности посещения.
                </li>
                <li>Функциональные:<br/>
                   Эти файлы cookie позволяют сайту запоминать информацию о выбранных вами параметрах (например, имя пользователя, язык или страна, в которой Вы находитесь) и обеспечивают доступ к расширенным и персонализированным возможностям. Эти файлы cookie также могут быть использованы для предоставления пользователям запрошенных ими услуг. Они запоминают предоставленную вами информацию, повышая удобство пользования сайтом.
                </li>
                <li>Аналитические:<br/>
                   Такие файлы cookie используются для повышения качества работы сайта, собирая информацию о количестве посетителей, источниках перехода на сайт, а также о том, каким образом посетители используют сайт (например, на какие страницы посетители переходят чаще всего). Для этого могут быть использованы соответствующие файлы cookie и аналитические инструменты следующих поставщиков услуг:
                   <p>
                   <span>1. Яндекс. Метрика: (подробнее о сборе данных через сервис: сервис)</span><br/>
                   <span>2. Google Analytics (подробнее ознакомиться с политикой конфиденциальности можно по адресу адресу).</span>
                   </p>
                </li>
                <li>Рекламные:<br/>
                    Эти файлы cookie используются для ограничения количества просмотров пользователем одной и той же рекламы, а также для оценки эффективности.
                </li>
            </ul>
        </div>
        <div>
            <h3>Для чего могут использоваться файлы cookie</h3>
            <p>При посещении вами сайта Студия-24бит в сети «Интернет» файлы cookie могут использоваться для:</p>
            <ul>
                <li>• для хранения предпочтений и параметров на вашем устройстве;</li>
                <li>• для улучшения взаимодействия вашего устройства с посещенными веб-сайтами;</li>
                <li>• для обеспечения функционирования и безопасности сайта.</li>
            </ul>
            <p>Иная собираемая информация может быть использована для генерации вашего «списка интересов», состоящего из случайного идентификатора, категории интереса и отметки времени для демонстрации вам интернет-контента и рекламных объявлений, соответствующих вашим интересам.</p>
        </div>
        <div>
            <h3>Как управлять файлами cookie</h3>
            <p>Используемые Вами браузер и (или) устройство могут позволять вам блокировать, удалять или иным образом ограничивать использование файлов cookie.</p>
            <p>Чтобы узнать, как управлять файлами cookie с помощью используемых вами браузера или устройства, вы можете воспользоваться инструкцией, предоставляемой разработчиком браузера или производителем устройства.</p>
        </div>
    </section>
</template>
<style scoped>
    /* section {
        font-size: 0.85rem;
    } */
    h3 {
        font-weight: bold;
        margin-bottom: 1.2rem;
    }
    p, ul {
        padding-left: 1.7rem;
        margin-bottom: 1.5rem;
    }
    section > div:nth-child(-n+9) p,
    section > div:nth-child(-n+9) ul {
        padding-left: 1.1rem;
    }
    ul > li {
        margin-bottom: 1rem;
    }
    table {
        border: 1px solid #efefef;
    }
    td {
        border: 1px solid #efefef;
        padding: 2px 6px;
    }
</style>
