<script setup>
    import { useMain } from '@/Modules/Main';
    const Main = useMain();
    defineProps({item: Object, isCurrent: Boolean});
</script>
<template>
    <li class="
        group relative
        py-2 lg:py-0
        px-2 2xl:px-4
        uppercase font-medium
        lg:text-xs xl:text-sm 2xl:text-base
        text-neutral-500 hover:text-primary
        transition-colors duration-300
        lg:h-header xl:h-header-xl
        flex items-center"
        :class="isCurrent ? 'pointer-events-none': 'pointer-events-auto'">
        <component
            :is="Main.view('ui:link')"
            :href="item.path"
            @click="Main.closeAside()">
            <template #icon>
                <span class="w-5 h-5">
                    <component :is="Main.view(`icons:${item.path.replace('/','')}`)"></component>
                </span>
            </template>
            <slot></slot>
        </component>
        <div class="
            hidden lg:block
            absolute inset-x-1/2 bottom-0 rounded-sm
            translate-x-[-50%]
            w-0 h-[3px]
            group-hover:w-full
            transition-all duration-300"
            :class="[
                {'bg-neutral-300': !isCurrent},
                {'w-full bg-primary': isCurrent}
            ]">
        </div>
    </li>
</template>
