<script setup>
    import { useMain } from '@/Modules/Main';
    const Main = useMain();
    /**
     * TODO Сделать duration при ресайзе с lg на md
     */
</script>
<template>
    <ul class="
        h-dvh
        lg:h-header
        xl:h-header-xl
        fixed z-0 inset-0
        lg:relative
        mx-auto
        pointer-events-none
        duration-500 lg:duration-0"
        :class="[
            {'translate-x-[100%] opacity-0 lg:translate-x-0 lg:opacity-100': !Main.state('menuIsActive').value},
            {'translate-x-0 opacity-100': Main.state('menuIsActive').value}
        ]">
        <component :is="Main.view('ui:main.divider')" :hideOnMd="true" :transparent="true"></component>
        <div class="
            w-full h-full
            px-5 lg:px-0
            bg-neutral-100
            lg:bg-transparent

            flex items-start lg:items-center
            flex-col lg:flex-row">
            <slot></slot>
        </div>
    </ul>
</template>
