<script setup>
    import { inject } from 'vue';
    import { Swiper, SwiperSlide } from 'swiper/vue';
    import { Navigation } from 'swiper/modules';

    import 'swiper/css';

    const props = defineProps({slider: Object});
    const Slider = props.slider;
    const Module = inject('module');

    const sliderId = Slider.get('settings:slider-id');

    let navigation = null;
    let navSettings = false;
    if ( navSettings = Slider.get('settings:navigation') ) {
        switch(navSettings) {
            case 'prev':
                navigation = {
                    prevEl: `.${sliderId}-nav-prev`
                }
                break;

            case 'next':
                navigation = {
                    nextEl: `.${sliderId}-nav-next`
                }
                break;

            default:
                navigation = {
                    prevEl: `.${sliderId}-nav-prev`,
                    nextEl: `.${sliderId}-nav-next`
                }
                break;
        }
    }

    const modules = [];
    if ( navSettings )
        modules.push(Navigation);

    const showPrevNav = (navigation?.prevEl && Module.get('data').length > 1);
    const showNextNav = (navigation?.nextEl && Module.get('data').length > 1);

    if ( Slider.get('settings:autoplay') )
        Slider.auto();
</script>
<template>
    <swiper
        :slides-per-view="Slider.get('settings:slides-per-view')
            ? Slider.get('settings:slides-per-view')
            : 1"
        :centeredSlides="Slider.get('settings:centeredSlides')
            ? Slider.get('settings:centeredSlides')
            : false"
        :space-between="Slider.get('settings:space-between')
            ? Slider.get('settings:space-between')
            : 20"
        :grabCursor="true"
        :speed="Slider.get('settings:speed')
            ? Slider.get('settings:speed')
            : 1000"
        :loop="Slider.get('settings:loop')
            ? Slider.get('settings:loop')
            : false"
        :autoplay="Slider.get('settings:autoplay')
            ? Slider.get('settings:autoplay')
            : false"
        :modules="modules"
        :navigation="navigation"
        :allowSlidePrev="showPrevNav"
        :allowSlideNext="showNextNav">

        <swiper-slide
            v-for="(slide, index) in Module.get('data')"
            v-slot="{ isActive, isPrev, isNext }">
            <component
                :is="Module.view('ui:slide')"
                :isActive
                :isPrev
                :isNext
                :slide
                :index>
            </component>
        </swiper-slide>
    </swiper>
    <component
        :class="`${sliderId}-nav-prev`"
        v-if="showPrevNav"
        :button="Slider.ref('nav-prev')"
        :is="Slider.view('ui:nav.prev')">
        <component :is="Slider.view('icons:prev')"></component>
    </component>
    <component
        :class="`${sliderId}-nav-next`"
        v-if="showNextNav"
        :button="Slider.ref('nav-next')"
        :is="Slider.view('ui:nav.next')">
        <component :is="Slider.view('icons:next')"></component>
    </component>
</template>
