<script setup>
    // import { Head } from '@inertiajs/vue3';
    import MainLayout from '@/Layouts/MainLayout.vue';

    import { useMain } from '@/Modules/Main';
    import { useProducts } from '@/Modules/Content/Products';
    import { useCorporate } from '@/Modules/Widgets/Corporate';
    import { useArticles } from '@/Modules/Content/Articles';


    const Corporate = useCorporate();
    Corporate.set('data:service', Corporate.get('data:service'));
    Corporate.import('content', Corporate.view('services'));

    const Main = useMain();
</script>
<template>
    <MainLayout>
        <component
            :is="Main.view('module')"
            :module="useProducts('detail')">
        </component>

        <component
            :is="Main.view('ui:content.block-divider')">
            <component
                :is="Main.view('icons:chevron-down')">
            </component>
        </component>

        <component
            :is="Main.view('module')"
            :module="Corporate">
        </component>

        <component
            :is="Main.view('ui:content.block-divider')">
            <component
                :is="Main.view('icons:news')">
            </component>
        </component>

        <component
            :is="Main.view('module')"
            :module="useArticles({
                showTitle: true,
                useFilter: false,
                showTop: true,
                footView: 'more'
            })">
        </component>
    </MainLayout>
</template>
