<script setup>
    // import { Head } from '@inertiajs/vue3';
    import MainLayout from '../../Layouts/MainLayout.vue';

    import { useMain } from '@/Modules/Main';
    import { useBanners } from '@/Modules/Widgets/Banners';
    import { useProducts } from '@/Modules/Content/Products';
    import { useArticles } from '@/Modules/Content/Articles';

    const Main = useMain();
</script>
<template>
    <MainLayout>
        <component
            :is="Main.view('module')"
            :module="useBanners()"
            view="w-full">
        </component>
        <component
            :is="Main.view('module')"
            :module="useProducts('main')">
        </component>
        <component
            :is="Main.view('ui:content.block-divider')">
            <component
                :is="Main.view('icons:news')">
            </component>
        </component>
        <component
            :is="Main.view('module')"
            :module="useArticles({
                showTitle: true,
                useFilter: false,
                showTop: true,
                footView: 'more'
            })">
        </component>
    </MainLayout>
</template>
