<script setup>
    defineProps({container: Object});
</script>
<template>
    <div class="
        w-full h-100
        rounded-2xl shadow-lg
        overflow-hidden
        border border-white">
        <div class="w-full h-100"
            :ref="container">
        </div>
    </div>
</template>
