<script setup>
    // import { Head } from '@inertiajs/vue3';
    import MainLayout from '@/Layouts/MainLayout.vue';

    import { useMain } from '@/Modules/Main';
    import { useArticles } from '@/Modules/Content/Articles';

    const Main = useMain();
</script>
<template>
    <MainLayout>
        <component
            :is="Main.view('ui:content.block-divider')">
            <component
                :is="Main.view('icons:news')">
            </component>
        </component>

        <component
            :is="Main.view('module')"
            :module="useArticles({
                showTitle: false,
                useFilter: false,
                showTop: false,
                footView: 'back_to_list'
            })">
        </component>
    </MainLayout>
</template>
