<script setup>
    import MainLayout from '../../Layouts/MainLayout.vue';

    import { useMain } from '@/Modules/Main';
    import { useArticles } from '@/Modules/Content/Articles';

    const Main = useMain();
</script>
<template>
    <MainLayout>
        <component
            :is="Main.view('module')"
            :module="useArticles({
                showTitle: false,
                useFilter: true,
                showTop: true,
                footView: 'more'
            })">
        </component>
    </MainLayout>
</template>
