<template>
    <div class="
        w-full h-full

        flex flex-col lg:flex-row
        flex-nowrap items-stretch
        gap-4 lg:gap-1 lg:pr-4 xl:pr-0 2xl:pr-6">
        <div class="
            w-full
            lg:w-7/12 lg:border-r">
            <div class="w-full h-full flex items-center">
                <slot name="left"></slot>
            </div>
        </div>
        <div class="
            w-full
            lg:w-5/12 sm:px-10 lg:px-0">
            <slot name="right"></slot>
        </div>
    </div>
</template>
