<template>
    <div class="
        w-full
        xl:w-11/12 2xl:w-10/12
        p-4 mx-auto">
        <div class="
            text-xs 2xl:text-sm text-neutral-500
            text-center lg:text-left mb-2">
            Заполните и отправьте заявку. Мы ответим в ближайшее время.
        </div>
        <div class="pb-4">
            <slot></slot>
        </div>
    </div>
</template>
