<script setup>
    import { ref, watchEffect, inject } from 'vue';
    const props = defineProps({
        isPrev: Boolean,
        isNext: Boolean,
        isActive: Boolean,
        slide: Object,
        index: Number
    });
    const Module = inject('module');

    const imageIsActive = ref(false);

    watchEffect(() => {
        if ( props.isActive ) {
            Module.state('activeBannerColor', props.slide.color);
            setTimeout(() => {
                imageIsActive.value = true;
            }, 1000);
        }
        else {
            imageIsActive.value = false;
        }
    });

    const actions = {
        'form-corporate': () => {
            Module.scrollTo('#corporate-wrapper');
        },
        'products': () => {
            Module.scrollTo('#products-wrapper');
        },
        'services': () => {
            Module.scrollTo('#services-wrapper');
        },
    }
</script>
<template>
    <div class="
        w-full
        flex items-center
        pt-slider
        h-80">
        <div class="
            w-full sm:w-8/12
            relative z-20
            px-4 sm-px-0">
            <Transition
                enter-active-class="ease-out duration-1000"
                enter-from-class="opacity-0 ml-[150%]"
                enter-to-class="opacity-100 ml-0"
                leave-active-class="ease-in duration-500"
                leave-from-class="opasity-100"
                leave-to-class="opacity-0">
                <h3 class="
                    w-full text-3xl sm:text-2xl
                    text-white
                    font-semibold px-4"
                    v-if="isActive">
                    {{slide.title}}
                </h3>
            </Transition>
            <Transition
                enter-active-class="ease-out duration-1000"
                enter-from-class="opacity-0 ml-[350%]"
                enter-to-class="opacity-100 ml-0"
                leave-active-class="ease-in duration-500"
                leave-from-class="opacity-100"
                leave-to-class="opacity-0">
                <div class="
                    w-full md:w-11/12 lg:w-10/12 min-h-30
                    text-md sm:text-base
                    text-white px-4 mb-4"
                    v-if="isActive">
                    {{slide.description}}
                </div>
            </Transition>
            <Transition
                enter-active-class="ease-out duration-1000"
                enter-from-class="opacity-0 ml-[550%]"
                enter-to-class="opacity-100 ml-0"
                leave-active-class="ease-in duration-500"
                leave-from-class="opacity-100"
                leave-to-class="opacity-0">
                <div class="w-full text-white"
                    v-if="isActive">
                    <component
                        :is="Module.view('main.ui:button')"
                        :href="slide.href
                            ? slide.href
                            : null"
                        :action="slide.action
                            ? actions[slide.action]
                            : null"
                        :color="`w-${slide.color}`"
                        size="md">
                        {{slide.button}}
                    </component>
                </div>
            </Transition>
        </div>
    </div>
    <Transition
        enter-active-class="ease-out duration-700"
        enter-from-class="scale-50 opacity-0"
        enter-to-class="scale-100 opacity-100">
        <div class="
            -translate-y-[7%]
            absolute top-0 z-10
            opacity-25 sm:opacity-100
            -right-[4rem] lg:right-0
            h-[110%] 2xl:h-[118%]"
            v-show="imageIsActive">
            <img class="
                h-full"
                :src=slide.image>
        </div>
    </Transition>
</template>
