<script setup>
    const props = defineProps({size: String});
    const iconSizes = {
        sm: 'w-5 h-5 mx-1',
        md: 'w-7 h-7'
    }
    const textSizes = {
        sm: 'text-base 2xl:text-md text-neutral-500 font-medium',
        md: 'text-xl 2xl:text-2xl text-neutral-700 font-bold'
    }
    const iconClass = iconSizes[props.size];
    const textClass = textSizes[props.size];
</script>
<template>
    <div class="
        group/item cursor-pointer
        flex items-center justify-start gap-2
        pointer-events-auto">
        <span class="text-primary"
            :class=[iconClass]>
            <slot name="icon"></slot>
        </span>
        <span class="
            group-hover/item:text-primary
            transition-colors duration-300"
            :class="[textClass]">
            <slot></slot>
        </span>
    </div>
</template>
