<template>
    <div class="
        flex flex-col
        items-start justify-center
        pt-header pb-2
        xl:pt-2 xl:pt-5
        xl:pb-4
        px-4">
        <div class="pt-4 xl:pt-0">
            <slot></slot>
        </div>
    </div>
</template>
