<template>
    <div class="pt-2 flex flex-col sm:flex-row items-center">
        <div>
            <slot></slot>
        </div>
        <div>
            <slot name="cancel"></slot>
        </div>
    </div>
</template>
