<script setup>
    import { onMounted } from 'vue';
    import { inject } from 'vue';
    const Module = inject('module');

    /**
     * TODO данные должны браться из Parent сейчас хардкодим
     */
    // const Parent = inject('parent');
    Module.set('options:center', [37.555095, 55.556385]);
    Module.set('options:marker-color', '#F58233');
    Module.set('options:popup-position', 'top');
    Module.set('options:zoom', 18);
    Module.set('options:behaviors', ['drag', 'pinchZoom']);

    Module.set('options:markers', [
        {
            'coords': [37.555095, 55.556385],
            'popup': {
                'content': '117624, Москва, ул. Поляны, д.5, пом. 54/2'
            }
        }
    ]);

    onMounted(() => {
        Module.init();
    });
</script>
<template>
    <component
        v-if="Module.state('isLoadApi').value"
        :is="Module.view('ui:wrapper')"
        :container="Module.ref('container')">
    </component>
</template>
