<script setup>
    import { useMain } from '@/Modules/Main';
    import { usePage } from '@inertiajs/vue3';
    const Main = useMain();

    const logo = usePage().props.pageData.logo.resource;

    const today = new Date();
    const year = today.getFullYear();
</script>
<template>
    <div class="
        relative z-20 p-2">
        <component
            href="/"
            :is="Main.view('ui:link')">
            <component
                :is="Main.view(`ui:logo.${logo}`)"
                :logoIsHover="false"
                size="sm"
                theme="grayscale">
            </component>
        </component>
    </div>
    <div class="
        text-neutral-500
        text-xs
        text-center xl:text-left
        px-4 py-2 border-r">
        <span>Студия 24бит &copy;2023-{{year}}</span>
        <!-- <span class="hidden sm:inline">.&nbsp;</span>
        <span class="block sm:inline">Все права защищены</span> -->
        <small class="block">Системный интегратор и поставщик решений в сфере маркировки продукции, логистики и ВЭД, бизнес-приложений и заказной разработки.</small>
    </div>
    <div class="
        text-neutral-500
        text-xs
        text-center xl:text-left
        px-4 py-2">
        <span class="block font-medium">Политики:</span>
        <component
            href="/policy/pers"
            :is="Main.view('ui:link')">
            <small class="block font-medium text-nowrap">
                Обработка персональных данных
            </small>
        </component>
        <component
            href="/policy/cookies"
            :is="Main.view('ui:link')">
            <small class="block font-medium text-nowrap">
                Обработка файлов cookies
            </small>
        </component>

    </div>
    <div class="xl:ml-auto">
        <span class="
            block px-2
            text-neutral-300
            hover:text-neutral-500
            cursor-pointer" @click="Main.scrollTo('#top')">
            <component
                :is="Main.view('icons:top-link')"
                :size="32">
            </component>
        </span>
    </div>
</template>
