<script setup>
    import { ref } from 'vue';
    import { useMain } from '@/Modules/Main';
    import { usePageData } from '@/Modules/PageData';

    const Main = useMain();
    const PageData = usePageData();

    const logo = PageData.get('data:pageData.logo.resource');
    const logoIsHover = ref(false);
    const menu = PageData.get('data:pageData.menu');

    const mobileButtons = [
        { key:'contacts', hide: 'xl' },
        { key:'info', hide: 'xl' },
        { key: 'services', hide: 'xl' },

        { key: 'divider', hide: 'lg' },
        { key: 'menu', hide: 'lg' }
    ];
</script>
<template>
    <component
        href="/"
        :is="Main.view('ui:link')"
        @mouseenter="logoIsHover = true"
        @mouseleave="logoIsHover = false"
        @click="Main.closeAside()">
        <component
            :is="Main.view(`ui:logo.${logo}`)"
            :logoIsHover>
        </component>
    </component>
    <component :is="Main.view('ui:header.menu')">
        <!-- <component :is="Main.view('ui:header.menu.divider')"></component> -->
        <component
            v-for="item in menu"
            :is="Main.view('ui:header.menu.item')"
            :item
            :isCurrent="PageData.get('currentSection') === item.path">
            {{item.name}}
        </component>
        <!-- <component :is="Main.view('ui:header.menu.divider')"></component> -->
    </component>
    <component :is="Main.view('ui:header.menu.mobile-buttons')">
        <component
            v-for="button in mobileButtons"
            :is="Main.view('ui:header.menu.mobile-buttons.item')"
            :hide="button.hide"
            :isDivider="button.key === 'divider'">
            <component
                v-if="button.key === 'divider'"
                :is="Main.view('ui:header.menu.divider-vertical')">
            </component>
            <component
                :is="Main.view('ui:header.menu.mobile-buttons.button')"
                :button="button.key"
                v-else>
            </component>
        </component>
    </component>
</template>
