<script setup>
    import { provide } from 'vue';
    const props = defineProps({module: Object});
    const Module = props.module;
    provide('module', Module);

    const pageType = Module.get('page:type');
    const view = pageType ? pageType : 'main';
</script>
<template>
    <component :is="Module.view(view)"></component>
</template>
