<script setup>
    import { inject } from 'vue';
    const Module = inject('module');

    // const services = Module.get('data:service');
</script>
<template>
    <div class="flex flex-col gap-2 px-4 text-neutral-300 font-bold text-xl text-center">
        Будет форма запроса на демонстрацию продукта<br/>
        Здесь описание
    </div>
</template>
