<script setup>
    import { inject, provide } from 'vue';
    const Module = inject('module');
    provide('parent', Module);

    const Corporate = Module.corporate();
        Corporate.set('data:service', Module.get('data:service'));
        Corporate.import('content', Module.view('detail-corporate'));

    const item = Module.get('data');

    const previewPictures = {
        robomark: '/images/content/mark.jpg',
        sputnik: '/images/content/logistic.jpg'
    }

    item['preview_picture'] = previewPictures[item.slug];

</script>
<template>
    <component :is="Module.view('ui:items.list')">
        <component
            :is="Module.view('ui:item.body-wrapper')"
            size="detail">
            <component
                :is="Module.view('main.ui:content.card')"
                :shadow="item.content
                    ? 'hover'
                    : 'default'"
                padding="none">
                <component
                    :is="Module.view('articles.item')"
                    :item
                    size="detail">
                </component>
            </component>
        </component>
    </component>

    <component
        :is="Module.view('main.ui:content.block-divider')">
        <component
            :is="Module.view('icons:products')">
        </component>
    </component>
    <div class="py-4 text-center text-3xl font-bold text-neutral-300">Описание продукта</div>
</template>
