<script setup>
    import { inject, provide } from 'vue';
    const Module = inject('module');
    provide('parent', Module);

    const Corporate = Module.corporate();
        Corporate.set('data:service', Module.get('data:service'));
        Corporate.import('content', Module.view('services'));

    const Products = Module.get('data:product');

    const previewPictures = {
        robomark: '/images/content/mark.jpg',
        sputnik: '/images/content/logistic.jpg'
    }

    Products.forEach((item, index) => {
        Products[index]['link'] = `/products/${item.slug}`;
        Products[index]['preview_picture'] = previewPictures[item.slug];
    });
</script>
<template>
    <div id="products-wrapper" class="pt-8">
        <component
            :is="Module.view('main.ui:content.block-title')">
            Наши продукты
        </component>
        <component
            :is="Module.view('main.ui:content.block-divider')">
            <component
                :is="Module.view('icons:products')">
            </component>
        </component>

        <!-- <component
            :is="Module.view('main.ui:content.card')"
            type="info"
            border="info"
            padding="none"
            background="default"> -->
            <div class="w-full xl:w-8/12 mx-auto py-10 text-lg">
                <div class="pb-10 px-2">
            <!-- <component
                :is="Module.view('main.ui:content.teaser')"> -->
                Мы занимаемся автоматизацией и цифровизацией бизнеса, начиная с разработки и поставки готовых решений до анализа и изменения бизнес-процессов компании с 2014 года. Наша компания является разработчиком и дистрибьютором как собственных решений, так и решений на платформе «1С: Предприятие».
            <!-- </component> -->
                </div>
            <component
                :is="Module.view('main.ui:content.block-divider')">
                <component
                    :is="Module.view('icons:chevron-down')">
                </component>
            </component>
            </div>
        <!-- </component> -->

        <component :is="Module.view('ui:items.list')">
            <component
                :is="Module.view('ui:item.body-wrapper')"
                size="compact"
                v-for="item in Module.get('data:product')">
                <component
                    :is="Module.view('main.ui:content.card')"
                    :shadow="item.content
                        ? 'hover'
                        : 'default'"
                    padding="none">
                    <component
                        :is="Module.view('articles.item')"
                        :item>
                    </component>
                </component>
            </component>
        </component>

    </div>
    <div id="services-wrapper">
        <component
            :is="Module.view('main.ui:content.block-title')">
            Наши услуги
        </component>
        <component
            :is="Module.view('main.ui:content.block-divider')">
            <component
                :is="Module.view('icons:dev')">
            </component>
        </component>

        <!-- <component
            :is="Module.view('main.ui:content.card')"
            type="info"
            border="info"
            padding="none"
            background="default"> -->
            <div class="w-full xl:w-8/12 mx-auto py-10 text-lg">
                <div class="pb-10 px-2">
            <!-- <component
                :is="Module.view('main.ui:content.teaser')"> -->
                Мы занимаемся автоматизацией и цифровизацией бизнеса, начиная с разработки и поставки готовых решений до анализа и изменения бизнес-процессов компании с 2014 года. Наша компания является разработчиком и дистрибьютором как собственных решений, так и решений на платформе «1С: Предприятие».
            <!-- </component> -->
                </div>
                <component
                    :is="Module.view('main.ui:content.block-divider')">
                    <component
                        :is="Module.view('icons:chevron-down')">
                    </component>
                </component>
            </div>
        <!-- </component> -->

        <component
            :is="Module.view('module')"
            :module="Corporate">
        </component>
    </div>

    <component
        :is="Module.view('main.ui:content.block-title')">
        События и полезная информация
    </component>
</template>
