<script setup>
    import { inject } from 'vue';
    const Module = inject('module');

    const services = Module.get('data:service');

    const colors = {
        konsatling: 'info',
        texpodderzka: 'success',
        'razrabotka-po-na-baze-1s': 'warning',
        'prodaza-licenzii-1s': 'danger'
    }

    const icons = {
        konsatling: Module.view('icons:consulting'),
        texpodderzka: Module.view('icons:support'),
        'razrabotka-po-na-baze-1s': Module.view('icons:dev'),
        'prodaza-licenzii-1s': Module.view('icons:license')
    }
</script>
<template>
    <div class="flex flex-col gap-2 px-4">
        <component
            v-for="item in services"
            :is="Module.view('main.ui:content.card')"
            type="info"
            :border="colors[item.slug]"
            padding="none"
            background="white">
            <component
                :is="Module.view('main.ui:content.teaser')">
                <template #title>
                    <component
                        :is="Module.view('main.ui:widget.title')"
                        :iconsColor="colors[item.slug]">
                        <template #icon>
                            <component
                                :is="icons[item.slug]">
                            </component>
                        </template>
                        {{item.name}}
                    </component>
                </template>
                <div class="pt-4">
                    {{item.description}}
                </div>
            </component>
        </component>
    </div>
</template>
