<script setup>
    import { ref } from 'vue';
    import { useIntersectionObserver } from '@vueuse/core';

    const props = defineProps({item: Object});

    const container = ref(null);
    const isVisible = ref(false);
    useIntersectionObserver(
        container,
        ([{ isIntersecting }], observerElement) => {
            isVisible.value = isIntersecting;
        },
        {threshold: 0.3}
    );
</script>
<template>
    <div class="
        relative
        sm:w-5/12 lg:w-3/12"
        ref="container">
        <div class="w-full h-[85%] absolute top-[15%] z-10">
            <slot name="card"></slot>
        </div>
        <div class="
            w-full
            relative z-20
            flex flex-col items-center">
            <div class="
                w-full aspect-image">
                <Transition
                    enter-active-class="ease-out duration-700"
                    enter-from-class="scale-50 opacity-0"
                    enter-to-class="scale-100 opacity-100"
                    leave-active-class="ease-in duration-0"
                    leave-from-class="scale-100 opacity-100"
                    leave-to-class="scale-50 opacity-0">
                    <img class="
                        w-full object-cover"
                        v-if="isVisible"
                        :src="item.image"/>
                </Transition>
            </div>
            <div class="
                w-full p-4
                text-center 2xl:text-md
                text-neutral-600">
                {{item.description}}
            </div>
        </div>
    </div>
</template>
