<script setup>
    import { inject } from 'vue';
    const Module = inject('module');
</script>
<template>
    <component :is="Module.view('head')"></component>
    <component :is="Module.view('body')"></component>
    <component :is="Module.view('preloader')"></component>
    <component :is="Module.view('foot')"></component>
</template>
