<script setup>
    import { useSlots } from 'vue';
    const props = defineProps({
        iconsColor: {
            type: String,
            default: 'default'
        }
    });
    const hasIcon = useSlots().icon;

    const colors = {
        black: 'text-black',
        white: 'text-white',
        primary: 'text-primary',
        info: 'text-blue-700',
        warning: 'text-orange-700',
        danger: 'text-red-700',
        success: 'text-green-700',
        default: 'text-neutral-600',

        violet: 'text-violet-700'
    }
    const iconsClass = colors[props.iconsColor];
</script>
<template>
    <h3 class="
        flex 2xl:items-center gap-2
        mb-2 xl:mb-0">
        <span class="
            size-6 pt-1 2xl:pt-0"
            :class="iconsClass"
            v-if="hasIcon">
            <slot name="icon"></slot>
        </span>
        <span class="font-medium text-lg 2xl:text-xl">
            <slot></slot>
        </span>
    </h3>
</template>
