<script setup>
    const props = defineProps({
        top: Number,
        readyResult: Object|Boolean
    });
</script>
<template>
    <div class="
        w-full h-full
        fixed z-top
        top-0 right-0
        transition-width duration-300"
        :class="[
            {'md:w-1/2 lg:w-1/3 xl:w-3/12 3xl:w-3/12': !readyResult},
            {'xl:w-5/12 2xl:w-3/12': readyResult}
        ]"
        :style="`padding-top:${top}px;`">
        <slot></slot>
    </div>
</template>
