<script setup>
    const props = defineProps({
        isMarked: Boolean,
        isLoaded: Object|Boolean,
        loader: Object}
    );
</script>
<template>
    <div class="
        sticky top-0
        z-40 shadow-b
        bg-violet-200 py-4">
        <component
            v-if="!isLoaded"
            :is="loader">
        </component>
        <div class="text-sm flex items-start"
            v-if="isLoaded">
            <div class="size-6 mr-2"
                :class="isMarked
                    ? 'text-green-500'
                    : 'text-red-500'">
                <slot name="icon"></slot>
            </div>
            <span class="text-sm">
                <slot></slot>
            </span>
        </div>
    </div>
</template>
