<script setup>
    defineProps({isSelect: Boolean});
</script>
<template>
    <div class="min-h-4 flex items-center text-xs xl:text-sm p-2 xl:p-3"
    :class="!isSelect ? 'text-neutral-500' : 'text-white'">
        <span class="leading-tight">
            <slot></slot>
        </span>
    </div>
</template>
