<script setup>
    defineProps({isSelect: Boolean});
</script>
<template>
    <div class="flex items-start justify-stretch relative z-30">
        <div class="mt-2 sm:mt-1 xl:mt-2 pr-1 relative z-10">
            <div class="rounded-full text-white px-3 font-medium relative"
                :class="!isSelect ? 'bg-violet-400' : 'bg-violet-700'">
                <div class="
                   absolute right-0
                   top-1/2 -translate-y-1/2 -z-10
                   translate-x-full
                   border-y-2 w-20"
                :class="!isSelect ? 'border-violet-400' : 'border-violet-700'"></div>
                <slot name="code"></slot>
            </div>
        </div>
        <div class="relative z-20 flex-shrink flex-grow">
            <slot></slot>
        </div>
    </div>
</template>
