<script setup>
    const props = defineProps({
        button: Object
    });
    console.log('next :', props.refObj);
</script>
<template>
    <div class="
        top-1/2
        -translate-y-1/2
        absolute z-30
        -right-2 md:-right-8
        hidden sm:block
        h-full
        pt-slider">
        <div class="
            h-full
            flex items-center">
            <button class="
                size-10 sm:size-12
                text-white"
                :ref="button">
                <slot></slot>
            </button>
        </div>
    </div>
</template>
