<template>
    <div class="
        top-1/2
        -translate-y-1/2
        absolute z-30
        -left-2 md:-left-8
        hidden sm:block
        h-full
        pt-slider">
        <div class="
            h-full
            flex items-center">
            <button class="
                size-10 sm:size-12
                text-white">
                <slot></slot>
            </button>
        </div>
    </div>
</template>
