<script setup>
    defineProps({
        isLink: {
            type: Boolean,
            default: false
        },
        icon: {
            type: Function,
            default: null
        }
    });
</script>
<template>
    <div class="
        p-4
        text-xs
        2xl:text-sm
        4xl:text-base
        flex items-center"
        :class="{'cursor-pointer': isLink}">
        <div class="srink">
            <span class="text-neutral-500">
                <slot name="date"></slot>
            </span>
            &nbsp;&nbsp;<span>
                <slot></slot>
            </span>
        </div>
        <div class="
            pointer-events-none
            text-neutral-400"
            v-if="icon">
            <div class="
                size-6 translate-x-1/2
                pointer-events-none">
                <component :is="icon"></component>
            </div>
        </div>
    </div>
</template>
