<script async setup>
    import _ from 'lodash';
    import { ref, inject, watchEffect } from 'vue';

    const props = defineProps({
        color: {
            type: String,
            default: 'info'
        },
        field: Object
    });

    const Controller = inject('controller');
    const FieldController = Controller.fieldController();
        FieldController.set('field', props.field);

    const id = `${props.field.code}-field`;
    const type = FieldController.type();
    const model = FieldController.value();
    const input = ref(null);

    defineExpose({ focus: () => input.value.focus() });

    FieldController.init();

    const error = ref(false);
    const errorMess = ref(null);
    watchEffect(() => {
        if ( FieldController.ready()
                && FieldController.Checker ) {
            error.value = FieldController.Checker.state('error').value;

            const messType = type === 'textarea' ? 'text' : type;
                errorMess.value = FieldController.Checker.mess[messType](props.field.validate?.mess);

            if ( input.value && FieldController.Checker.pattern(type)) {
                input.value.setAttribute('pattern', FieldController.Checker.pattern(type));
            }
        }

        if ( input.value
                && FieldController.ready()
                    && FieldController.state('focus').value ) {
            input.value.focus();
        }
    });

    const getShowLabel = Controller.get('show-label');
    let showLabel = false
    if( getShowLabel === 1 )
        showLabel = true;
    else if( getShowLabel === 2 )
        showLabel = (type !== 'hidden' && !_.isUndefined(props.field.label));

    const placeholder = Controller.get('placeholder')
        ? props.field.label
        : props.field.placeholder;
</script>

<template>
    <component
        v-if="FieldController.ready()"
        :is="FieldController.view('common.ui:wrapper')"
        :color="color"
        :required="field.required"
        :error="error"
        :showLabel="showLabel"
        :labelFor="id"
        :isEmpty="FieldController.state('isEmpty')"
        :clear="FieldController.clear"
        :length="FieldController.Checker.length()"
        :showLen="FieldController.get('field:validate.length')">
        <template #label>
            {{field.label}}
        </template>
        <component
            v-if="field.icon"
            :is="FieldController.view('common.ui:icon-wrapper')">
            <component :is="Controller.view(`icons:${field.icon}`)"></component>
        </component>
        <textarea
            v-if="type === 'textarea'"
            v-model="model"
            ref="input"

            :id
            :type="type"
            :name="field.code"
            :placeholder="placeholder"

            @input="FieldController.check"
            @focus="FieldController.state('isFocus', true)"
            @blur="FieldController.state('isFocus', false)">
        </textarea>
        <input
            v-else
            v-model="model"
            ref="input"

            :id
            :type="type"
            :name="field.code"
            :placeholder="placeholder"

            @input="FieldController.check"
            @focus="FieldController.state('isFocus', true)"
            @blur="FieldController.state('isFocus', false)"
        />
        <template #clear>
            <component :is="Controller.view('icons:close')"></component>
        </template>
        <template #error  v-if="error">
            {{errorMess}}
        </template>
    </component>
</template>
