<script setup>
    /**
     * Module.view('content') === Logic/Slider.vue Найти где определяется
     */
    import { inject } from 'vue';
    const Module = inject('module');
    const FormController = Module.instance('controller');
</script>
<template>
    <component
        :is="Module.view('ui:wrapper')"
        id="corporate-wrapper">
        <component :is="Module.view('ui:inner')">
            <template #left>
                <component :is="Module.view('content')"></component>
            </template>
            <!-- <component :is="Module.view('icons:message')"></component> -->
            <template #right>
                <component :is="Module.view('ui:right')">
                    <component
                        :is="FormController.view('main')"
                        :data="FormController">
                    </component>
                </component>
            </template>
        </component>
    </component>
</template>
