<script setup>
    import { inject } from 'vue';
    const Module = inject('module');
</script>
<template>
    <component :is="Module.view('ui:slider.left')">
        <template #slider>
            <component :is="Module.view('ui:slider.slider')"></component>
        </template>
        <template #message>
            <component :is="Module.view('ui:slider.message')"></component>
        </template>
        <template #icon>
            <component :is="Module.view('icons:message')"></component>
        </template>
    </component>
</template>
