<script setup>
    import { useMain } from '@/Modules/Main';
    import { usePageData } from '@/Modules/PageData';

    const Main = useMain();
    const PageData = usePageData();

    import { useContacts } from '@/Modules/Widgets/Contacts';
    import { useServices } from '@/Modules/Widgets/Services';
    import { useInfo } from '@/Modules/Widgets/Info';

    const AsideItems = {
        contacts: {
            height: 'auto',
            module: useContacts()
        },
        services: {
            height: 'auto',
            module: useServices()
        },
        info: {
            height: 'full',
            module: useInfo()
        }
    }
</script>
<template>
    <span id="top"></span>
    <component
        :is="Main.view('ui:main.divider')"
        :animate="true"
        :show="Main.state('menuIsActive').value"></component>
    <header class="
        fixed z-20
        left-0 top-0 right-0
        flex items-center
        w-full">
        <div class="
            w-full xl:w-9/12 3xl:w-9/12
            px-2 pt-2 pb-2 xl:px-4 xl:pt-4 xl:pb-0
            box-border">
            <component :is="Main.view('ui:header.wrapper')">
                <component :is="Main.view('header.nav')"></component>
            </component>
        </div>
    </header>
    <main class="
        relative z-10
        h-auto min-h-main">
        <component :is="Main.view('ui:main.divider')"></component>
        <div class="
            w-full xl:w-9/12 3xl:w-9/12
            px-2 xl:px-4">
            <component
                v-if="PageData.get('showPageTitle')"
                :is="PageData.view('pagetitle')">
            </component>
            <component
                v-if="PageData.get('showBreadcrumbs')"
                :is="PageData.view('breadcrumbs')">
            </component>
            <slot></slot>
        </div>
    </main>
    <aside class="
        fixed z-10
        w-full md:w-1/2 lg:w-1/3 xl:w-3/12 3xl:w-3/12
        pointer-events-none
        top-0 right-0 bottom-0
        h-dvh">
        <component :is="Main.view('ui:aside.wrapper')">
            <component
                v-for="(item, code) in AsideItems"
                :is="Main.view('ui:aside.item')"
                :height="item.height"
                :code>
                <component
                    :is="Main.view('module')"
                    :module="item.module">
                </component>
            </component>
        </component>
    </aside>
    <footer class="
        relative z-10
        px-2 lg:px-4 pb-4">
        <div class="
            w-full h-full
            xl:w-9/12
            flex flex-col xl:flex-row
            items-center
            justify-center xl:justify-start

            h-auto p-2
            bg-white rounded-xl">
            <component :is="Main.view('footer')"></component>
        </div>
    </footer>
</template>
