<script setup>
    defineProps({href: String, type: String});
</script>
<template>
    <div>
        <h5 class="
            font-medium text-neutral-500 mb-2"
            :class="type === 'center' ? 'text-xl':'text-md'">
            <slot name="caption"></slot>
        </h5>
        <a class="
            hover:text-primary font-bold"
            :class="type === 'center' ? '':'text-xl'"
            :href="href">
            <slot></slot>
        </a>
    </div>
</template>
