<script setup>
    defineProps({href: String, type: String });
</script>
<template>
    <a class="
        w-full mx-auto
        flex items-start gap-2
        rounded-2xl"
        :class="type === 'center' ? 'md:w-8/12 flex-col items-center' : 'md:w-6/12 group group-hover:shadow-lg bg-white p-4'"
        :href>
        <span class=""
            :class="type === 'center' ? 'min-w-6 text-neutral-400':'min-w-6 2xl:min-w-10 text-primary'">
            <slot name="icon"></slot>
        </span>
        <span>
            <div class="
                text-neutral-700
                group-hover:text-primary
                font-bold pb-2 mb-2
                border-b"
                :class="type === 'center' ? 'text-center':'text-xl 2xl:text-2xl'">
                <slot></slot>
            </div>
            <span class="text-sm text-neutral-500"
                :class="type === 'center' ? 'block text-center':''">
                <slot name="description"></slot>
            </span>
        </span>
    </a>
</template>
