<script setup>
    defineProps({col: Boolean});
</script>
<template>
    <div class="flex"
        :class="col ? 'flex-col' : 'flex-col 2xl:flex-row'">
        <div class="
            text-neutral-500"
            :class="!col ? 'min-w-16' : ''">
            <slot name="caption"></slot>
        </div>
        <div class="font-medium">
            <slot></slot>
        </div>
    </div>
</template>
